@* Footer CashPlus tối ưu, hiện đại, đồng bộ nhận diện *@
<footer class="cashplus-footer">
  <div class="footer-container">
    <div class="footer-col company">
      <img src="/images/cashplus-logo-white.svg" alt="CashPlus hoàn tiền" class="footer-logo" />
      <div class="company-info">
        <p><b>CÔNG TY CP TẬP ĐOÀN CÔNG NGHỆ ATS</b></p>
        <p><i class="fa fa-map-marker-alt"></i> <a href="https://maps.app.goo.gl/Vytuif4mFaShukgL8" target="_blank">Tầng 1 Khối C Tòa nhà Sông Đà, Số 18 đường Phạm Hùng, Phường Từ Liêm, Thành phố Hà Nội</a></p>
        <p><i class="fa fa-map-marker-alt"></i> <a href="https://maps.app.goo.gl/Vytuif4mFaShukgL8" target="_blank">Văn phòng đại diện: Tầng 25, toà nhà Eurowindow, số 27 phố Trần Duy Hưng, phường Yên Hòa, Thành phố Hà Nội</a></p>        
        <p><i class="fa fa-id-card"></i> MST: 0110379214</p>
        <p><i class="fa fa-phone"></i> <a href="tel:19004536">1900.4536</a></p>
        <p><i class="fa fa-envelope"></i> <a href="mailto:info@cashplus.vn">info@cashplus.vn</a></p>
        <p><i class="fa fa-globe"></i> <a href="https://cashplus.vn" target="_blank">cashplus.vn</a></p>
      </div>
    </div>
    <div class="footer-col">
      <h4>CHÍNH SÁCH CHUNG</h4>
      <ul>
        <li><a href="/tin-chinh-sach-bao-mat-cashplus">Chính Sách Bảo Mật</a></li>
        <li><a href="/du-lieu-ca-nhan">Dữ Liệu Cá Nhân</a></li>
        <li><a href="/so-huu-tri-tue">Sở Hữu Trí Tuệ</a></li>
        <li><a href="/quan-ly-rui-ro">Quản Lý Rủi Ro</a></li>
        <li><a href="/xu-ly-vi-pham">Xử Lý Vi Phạm</a></li>
        <li><a href="/tinh-nang-su-dung-tiep-thi">Tiếp Thị Liên Kết</a></li>
        <li><a href="/hoi-dap">FAQ - Câu hỏi thường gặp</a></li>
      </ul>
      <h4>CHÍNH SÁCH NGƯỜI TIÊU DÙNG</h4>
      <ul>
        <li><a href="/dieu-khoan-su-dung-nguoi-dung">Điều Khoản Sử Dụng</a></li>        
        <li><a href="/huong-dan-su-dung-ung-dung-hoan-tien-cashplus">Hướng Dẫn Sử Dụng</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>CHÍNH SÁCH ĐỐI TÁC</h4>
      <ul>
        <li><a href="/dang-ky-doi-tac">Đăng Ký Đối Tác</a></li>
        <li><a href="/dieu-khoan-su-dung-doi-tac">Điều Khoản & Điều Kiện</a></li>
        <li><a href="/san-pham-dich-vu">Sản Phẩm & Dịch Vụ</a></li>
      </ul>
    </div>
    <div class="footer-col social-cert">
      <div class="footer-social">
        <a href="https://www.facebook.com/cashplus.vn" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/&#64;cashplusvn" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="footer-cert">
        <a href="http://online.gov.vn/Home/AppDetails/2779" target="_blank"><img src="/images/CashPlus-Da-Dang-Ky-Bo-Cong-Thuong.png" alt="CashPlus - Đã đăng ký Bộ Công Thương" title="CashPlus - Đã đăng ký Bộ Công Thương" /></a>
        <!-- <img src="/images/ncsc.png" alt="NCSC" /> -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
        © 2023 CashPlus – Tiêu thoải mái hoàn tiền ngay. Chúng tôi gắn kết cộng đồng Việt Nam bằng yêu thương, trách nhiệm và lòng biết ơn. <i class="fa fa-heart footer-heart"></i>
    </p>
    <p>Dịch vụ trung gian thanh toán do Công ty Cổ phần thương mại điện tử Bảo Kim cung cấp. Mã số doanh nghiệp: 0104432131</p>
  </div>
</footer>


