@* CashPlus Header - Style mới *@
<header class="cashplus-header">
  <div class="cashplus-header-container">
    <a href="/" class="cashplus-logo">
      <img src="/images/cashplus-logo.svg" alt="CashPlus" class="logo-default" />
      <img src="/images/cashplus-logo-white.svg" alt="CashPlus" class="logo-invert" />
    </a>
    <nav class="cashplus-menu">
      <ul>
        <li><a href="/" class="cashplus-menu-link">Trang chủ</a></li>
        <li><a href="#user" class="cashplus-menu-link">Người tiêu dùng</a></li>
        <li><a href="#merchant" class="cashplus-menu-link">Đối tác bán hàng</a></li>
        <li><a href="/home/news" class="cashplus-menu-link">Tin tức</a></li>
        <li><a href="/tai-cashplus-ngay" class="cashplus-menu-link">Tải App CashPlus</a></li>
        <li><a href="/dang-ky-doi-tac" class="cashplus-menu-link cashplus-cta">Đăng Ký Đối Tác</a></li>
      </ul>
    </nav>
    <button class="cashplus-menu-toggle" aria-label="Mở menu">
      <span></span><span></span><span></span>
    </button>
  </div>
  <div class="cashplus-menu-mobile">
    <div class="cashplus-menu-mobile-header">
      <a href="/" class="cashplus-logo-mobile">
        <img src="/images/cashplus-logo.svg" alt="CashPlus" />
      </a>
      <button class="cashplus-menu-close" aria-label="Đóng menu">&times;</button>
    </div>
    <ul>
      <li><a href="/" class="cashplus-menu-link">Trang chủ</a></li>
      <li><a href="#user" class="cashplus-menu-link">Người tiêu dùng</a></li>
      <li><a href="#merchant" class="cashplus-menu-link">Đối tác bán hàng</a></li>
      <li><a href="/home/news" class="cashplus-menu-link">Tin tức</a></li>
      <li><a href="/tai-cashplus-ngay" class="cashplus-menu-link">Tải App CashPlus</a></li>
      <li><a href="/dang-ky-doi-tac" class="cashplus-menu-link cashplus-cta">Đăng Ký Đối Tác</a></li>
    </ul>
  </div>
</header>

