IOITWebApp31/AppCMS/node_modules.rar
IOITWebApp31/bin/
IOITWebApp31/obj/
IOITWebApp31/wwwroot/cms.rar
IOITWebApp31/wwwroot/cms/
IOITWebApp31/wwwroot/datasets/
IOITWebApp31/wwwroot/src/
IOITWebApp31/wwwroot/template-html/
IOITWebApp31/wwwroot/uploads/
/.vs
/IOITWebApp31/IOITWebApp31.csproj.user
/IOITWebApp31/Properties/PublishProfiles/FolderProfile.pubxml.user
/IOITWebApp31/wwwroot/images/avatar
/IOITWebApp31/logs/*.log
