@model IOITWebApp31.Models.Data.CustomerLogin

<header id="header">
    <div class="header-wrapper">
        <div id="masthead" class="header-main">
            <!-- Main menu -->
            <div class="header-inner flex-row container logo-left medium-logo-center">
                <div id="logo" class="flex-col logo">
                    <!-- Header logo -->
                    <a href="/" class="link-home">
                        <img width="80" height="80" src="/images/cashplus/logo_1.png" class="header_logo header-logo"
                             alt="Logo">
                    </a>
                </div>
                <div class="right_logo">
                    <div class="button-cntt">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>