.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

h1.cms-heading-inline {
  display: inline-block;
  font-size: 23px;
  margin-right: 6px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 0px;
}

.cms-main {
  margin-top: 30px;
}

.cms-content {
  padding-top: 15px;
}

.cms-addnew {
  color: #fff;
  border: 1px solid #d3d3d3;
  padding: 6px 16px;
  min-height: 36px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -2px;
}

.cms-addnew.button-action {
  background-color: #01659b;
  color: #fff;
  padding: 0px 20px;
  border-radius: 8px;
}

.drank .cms-addnew {
  background-color: #00BFA5;
}

.cms-subsubsub a.current {
  color: #000;
}

.cms-subsubsub li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.card-body {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 0px;
}

ul.cms-subsubsub {
  margin-bottom: 00px;
  margin-left: 0px;
  padding-left: 3px;
}

.cms-filter {
  padding-left: 40px;
}

.cms-subsubsub a {
  line-height: 2;
  padding: .2em;
  text-decoration: none;
  color: #0073aa;
}

input {
  outline: none
}

table, .table-bordered th, .table-bordered td {
  border: none;
}

/*thead {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}*/

table .column-thumb {
  width: 5%;
  text-align: center;
  white-space: nowrap;
}

table {
  table-layout: fixed;
}

table .column-name {
  width: 22%;
}

table .column-product_cat, table .column-product_tag {
  width: 11% !important;
}

.cms-function {
  position: relative;
  left: -9999em;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.cms-function li {
  float: left;
  margin-right: 5px;
  color: #0073aa;
  font-weight: 400;
  cursor: pointer
}

.cms-function li.detete-item {
  color: #f00;
}

.cms-function li.id-item {
  color: #ccc;
}

table .column-url {
  width: 25%;
}

.table > tbody > tr > td {
  padding: 8px !important;
  line-height: 2;
}

/*tbody {
  border-bottom: 1px solid #ccc;
}*/

.cms-paging {
  padding-left: 20px;
}

table .column-stt, table .column-hs {
  width: 8%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.name-child {
  font-size: 14px !important;
  font-weight: 600;
  color: #0073aa;
}

.name-parend {
  color: #0073aa;
}

table.list-cat tbody > tr td {
  line-height: 1.8;
}

table.list-cat tbody > tr:hover .cms-function {
  position: static;
}

.switch-label {
  width: 48px;
  margin-bottom: 0px;
}
.select-itembox{
  height:30px !important;
  border-radius:2px
}
.column-rating{
  width:10%;
}
.ng-select .ng-select-container {
  min-height: 30px !important;

}
.select-itembox .ng-select-container {
  height: 30px !important;
}
.dataTables_filter.pull-right {
  position: absolute;
  right: 22px;
}
.IconCheck {
  display: block;
  text-align: center;
  font-size: 25px !important;
  line-height: 1;
}
.modal-content {
  background-color: #F1F1F1;
  }
.modal-body, .card-body.body-form-add-new {
  padding: 10px !important
}
.tab-content-custom .tab-content {
  background: #f1f1f1;
}
.siderbar-product .form-group.row {
  background: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  margin-right: 0px;
  margin-bottom: 15px;
}
.siderbar-product label.col-md-12.col-form-label {
  border-bottom: 1px solid #ccc;
}
.danhmuc-sp {
  border: 1px solid #e4e7ea;
  border-radius: 0px !important;
  background: #FDFDFD;
  margin-top: 14px;
  max-height: 335px;
  margin-bottom: 14px;
  overflow-y: auto;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}
.siderbar-product .squaredcheck label {
  background: #fff;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  font-size: 13px;
  top: 0px;
}
.in-cat-product {
  margin-left: -22px;
}
.siderbar-product .squaredcheck span {
  left: 20px;
  top: -4px;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  }
.squaredcheck label:after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.custom-ttsp {
  background: #fff;
  margin: 0px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom:20px;
}
tabset.tab-content-detail.tab-container {
  width: 100%;
}
.custom-ttsp .form-group {
  border-bottom: 1px solid #eee;
  padding: 10px
}
.custom-ttsp .form-group:last-child {
  border-bottom:0;
}
.custom-ttsp .form-group .col-form-label {
  font-weight: 400;
  line-height: 1;
}
.custom-ttsp .form-group input{
  border-radius: 0px;
  height: 27px;
}
.body-form-add-new > div {
  vertical-align: top;
}
.fixed_header{
  width:100%;
}
.fixed_header tbody {
  display: block;
  overflow: auto;
  height: 300px;
  width: 100%;
}
.fixed_header thead {
  background: #f1f1f1;
  border-bottom: 0px;
}
.fixed_header thead tr {

}
.fixed_header th {
  border: none;
  width: 25%;
}
.fixed_header tbody tr {
  border-bottom: 1px solid #eee;
  border-top: 0;
  width: 100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.fixed_header tbody tr td {
  width: 25%;
  line-height:1.5;
}
.fixed_header tbody{
  width:667px;
}
.fixed_header .squaredcheck label {
  width: 15px;
  height: 15px;
  background: #fff !important;
  border: 1px solid #ccc;
}

.fixed_header tbody tr:nth-child(odd) {
  background: #FFF;
}

.fixed_header tbody tr:nth-child(even) {
  background: #eaf4ff;
}
.fixed_header img{
  border:1px solid #eee;
}
span.price-pri {
  text-decoration: line-through;
  color: #b5b3b3;
}
span.price-new {
   font-weight: 400; 
}
.page-link {
  line-height: 1.0;
}
