<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body style="font-family: 'Roboto'; font-weight: 400; font-size: 13px;">
    <div class="template-email" style="width: 600px; margin:auto; background: #ffffff;">
        <div class="header-mail" style="{0}">
            <div class="logo-header">
                <img src="{1}" alt="" style="position: relative; width: 100%;">
            </div>
        </div>
        <div class="body-email" style="{2}">
            <div class="title-email" style=" color: #ffffff; background: #b22d25; padding: 20px;">
                <span style="text-transform: uppercase; font-size: 20px; font-weight: 500; display: block; text-align: center; width: 100%; margin-bottom: 10px;">
                    Trả lại tin bài
                </span>
            </div>
            <div class="content-email" style="float: left; padding: 20px;">
                <p style="margin-top: 0;">Dear <span style="font-weight: bold; color: #1c62dd;">{8}</span>!</p>
                <p style="margin-top: 0;">{9}</p>
                <p style="margin-top: 0;">Trân trọng cảm ơn.</p>
            </div>
        </div>
        <div class="footer-mail" style="{3}">
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;"><b>TẠP CHÍ DÂN CHỦ & PHÁP LUẬT</b></p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;"><b>Cơ quan chủ quản:</b> Bộ Tư Pháp</p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;">
                <b>Tòa soạn:</b> Số 56 - 58 - 60 Trần Phú, Quận Ba Đình, Hà Nội
                <br />
                Tầng 2, Nhà C, Học viện Tư Pháp, Số 9 Đường Trần Vỹ, Phường Mai Dịch, Quận Cầu Giấy, TP. Hà Nội.
            </p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;">
                <b>Hotline:</b> 02462739736
            </p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;">
                <b>Email:</b> 
                 <a href="mailto:tcdcpl@moj.gov.vn">tcdcpl@moj.gov.vn</a>
            </p>
        </div>
    </div>
</body>
</html>