<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
</head>
<body style="font-family: 'Roboto'; font-weight: 400; font-size: 13px;">
    <div class="template-email" style="width: 600px; margin:auto; background: #ffffff;">
        <div class="header-mail" style="{0}">
            <div class="logo-header"><img src="{1}" alt="" style="position: relative; background: #ffffff;"></div>
        </div>
        <div class="body-email" style="{2}">
            <div class="title-email" style=" color: #ffffff; background: #ff9b38; padding: 20px;">
                <span style="text-transform: uppercase; font-size: 20px; font-weight: 500; display: block; 
text-align: center; width: 100%; margin-bottom: 10px;">Duyệt tài khoản đăng ký mới</span>
            </div>
            <div class="content-email" style="float: left; padding: 20px;">
                <p style="margin-top: 0;">Xin chào <span style="font-weight: bold; color: #1c62dd;">{8}</span>!</p>
                <p style="margin-top: 0;">
                    Tài khoản: <span style="font-weight: bold; color: #1c62dd;">{9}</span> vừa đăng ký mới cần phê duyệt.
                </p>
                <p>
                    Link xem chi tiết:
                    <a href={10} title="Link xem chi tiết" class="btn-confirm" style="text-decoration: underline; color: #15c; display: block; margin-bottom: 15px;">
                        {11}
                    </a>
                </p>
                <p style="margin-top: 0;">Mọi thông tin hỗ trợ vui lòng liên hệ với chúng tôi theo số điện thoại và email sau:</p>
                <p style="margin-top: 0;">Điện thoại: {6}</p>
                <p style="margin-top: 0;">Email: {5}</p>
                <p style="margin-top: 0;">Trân trọng và cảm ơn!</p>
            </div>
        </div>
        <!--<div class="footer-mail" style="{3}">
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;"><b>{4}</b></p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;"><b>Trụ sở chính: </b>{5}</p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;"><b>Hotline:</b> {6} - <b>Email:</b> info@apc.com.vn</p>
            <p style="margin-top: 0; margin-bottom: 5px; padding:0px 20px;"><b>Website:</b> <a href="{7}">{7}</a></p>
        </div>-->
    </div>
</body>
</html>