* {
    margin: 0;
    padding: 0;
}
/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/*ATS sua ngay 04/12/2023 - thay font*/
html,
body {
    font-family: Inter, sans-serif;
    font-weight: 400;
}

:root {
    --Color_1: #174371;
    --Color_2: #FF7733;
    --Color_3: #FFFFFF;
    --Color_3: #73CDF4;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.no-padding {
    padding: 0;
}

@font-face {
    font-family: UTM Avo;
    font-weight: 400;
    font-style: normal;
    src: url(./../fonts/Avo/UTMAvo.ttf);
}

@font-face {
    font-family: UTM Avo;
    font-weight: 700;
    font-style: normal;
    src: url(./../fonts/Avo/UTMAvoBold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url(./../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    src: url(./../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: 800;
    font-weight: bold;
    src: url(./../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    src: url(./../fonts/Open_Sans/OpenSans-Medium.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url(./../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Barlow";
    font-weight: 400;
    font-style: normal;
    src: url(./../fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
    font-family: "Barlow";
    font-weight: 600;
    font-style: bold;
    src: url(./../fonts/Barlow/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: "Barlow";
    font-weight: 300;
    src: url(./../fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: "Barlow";
    font-weight: 500;
    src: url(./../fonts/Barlow/Barlow-Medium.ttf);
}

@font-face {
    font-family: "San Francisco Text";
    font-weight: 400;
    src: url(./../fonts/San_Francisco/SanFranciscoText-Regular.otf);
}

@font-face {
    font-family: "San Francisco Text";
    font-weight: 500;
    src: url(./../fonts/San_Francisco/SanFranciscoText-Medium.otf);
}

@media (min-width: 1280px) {
    .container {
        max-width: 1230px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.slick-slide a, .slick-slide {
    outline: none;
}

.no-margin {
    margin: 0 !important;
}

.userNoneSelect {
    user-select: none;
}

.flex-row {
    display: flex;
    align-items: center;
}

.section {
    position: relative;
    min-height: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-align: center;
    align-items: center;
}

    .section .bg-section {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

.image-cover {
    width: 100%;
    object-fit: cover;
}

.box-image {
    position: relative;
}

.textLine-1 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-2 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-3 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-4 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLine-5 {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;   
    text-overflow: ellipsis;
}

.box .box-image a, .banner a {
    display: block;
}

.box.box-vertical {
    display: flex;
    flex-wrap: wrap;
}

    .box.box-vertical .box-text {
        flex: 1;
        height: -webkit-fill-available;
        /*  padding-left: 15px;*/
    }

.custom-menu-mobile {
    display: none;
}

button:focus, .navbar-toggler:focus {
    box-shadow: unset;
}
/* Scroll global */
/* width */
.customize-scroll-bar::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.customize-scroll-bar::-webkit-scrollbar-track {
    background: #ffffff;
}
/* Handle */
.customize-scroll-bar::-webkit-scrollbar-thumb {
    background: #C1C7CD;
    border-radius: 3px;
}
    /* Handle on hover */
    .customize-scroll-bar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.box .box-text .heading > a:hover,
.box .box-text .heading-box > a:hover,
.left-hotnews .box-image-hotnews .heading-news a:hover,
.right-hotnews .news-right-item .box-text > a:hover,
.wapper-news-events .left-box-event .box-text .heading:hover,
.right-event-news > .col-inner .right-event-news .box-text .heading:hover,
.col-6-2-2 .item-news-6-2-2 .box-text .heading-box > a:hover,
.col-8-2-2 > .col-inner .item-news-8-2-2 .box-text a:hover,
.item-news-8-2-1 .box-text a:hover,
.col-9-2-2 .item-news-9-2-2 .box-text .heading a:hover,
.col-9-2-1 .item-news-9-2-1 .box-text .heading a:hover {
    color: var(--textSecondColor);
}

.video-7-1-2 .box-text .heading-box a:hover,
.col-7-1-3 .box-text .heading-box a:hover,
.item-news-7-1-1 .box-text .heading-box a:hover {
    color: var(--backgroundFooterGray);
}
/* Paging */
.page-numbers.nav-pagination {
    display: table;
    width: 100%;
}

ul.links li {
    margin: 0.4em;
    display: inline-block;
}

    ul.links li:first-child {
        margin-left: 0;
    }

.nav-pagination > li > span, .nav-pagination > li > a {
    font-size: 1.1em;
    display: block;
    height: 2.25em;
    line-height: 2em;
    text-align: center;
    width: auto;
    min-width: 2.25em;
    padding: 0 7px;
    border-radius: 99px;
    color: var(--textDarkColor);
}

    .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover {
        background-color: var(--mainColor);
        color: var(--textLightColor);
        line-height: 40px;
    }

.section.pagging {
    padding: 30px 0;
}
/* responsive video */

.wy {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.youtube {
    position: relative;
    padding-bottom: 44.75%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.player_playing .youtube {
    padding-bottom: 56.25%;
}

.youtube iframe, .youtube object, .youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.waaper-video video {
    object-fit: cover;
}

.single-page img {
    max-width: 100%;
}

.wapper-info-customer .form-commnent-single input.form-control.check-false::placeholder {
    color: #EF0000 !important;
    font-size: 10px;
}

.validate-true {
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
    color: #009e00;
}

.validate-false {
    position: absolute;
    right: 20px;
    top: 10px;
    color: rgb(139 18 18);
    display: none;
}

.check-false::placeholder {
    color: rgb(139 18 18) !important;
}

@media only screen and (min-width:800px) {
    .only-mobile {
        display: none;
    }
}

@media only screen and (max-width:800px) {
    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }
}
/* Scroll global */
/* width */
.customize-scroll-bar::-webkit-scrollbar,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 12px;
}
/* Track */
.customize-scroll-bar::-webkit-scrollbar-track,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #385B8D 0%, #2E4774 100%);
}
/* Handle */
.customize-scroll-bar::-webkit-scrollbar-thumb,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: #ABDBEF;
    border: 2px solid #385B8D;
}
    /* Handle on hover */
    .customize-scroll-bar::-webkit-scrollbar-thumb:hover,
    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
        background: #43a1c9;
    }


.cke_reset {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    width: 100%!important;
    height: auto;
    vertical-align: baseline;
    box-sizing: content-box;
    position: static;
    transition: none;
}