.item-news.box.box-vertical {
    margin-bottom: 15px !important;
    display: grid;
    height: -webkit-fill-available;
}

.col.col-md-3.col-12.side-bar-info.menu-faq {
    margin-top: 0px !important;
}

.search-all-data {
    margin-top: 0px !important;
}

form.search-wapper.faq {
    padding: 0px 0px 20px 0px !important;
    /* background: url(../images/dot-111.png) no-repeat; */
    background-position: left center !important;
}

.list-news .item-news .box-text > a {
    background: #FFFFFF !important;
    border: 1px solid #E6E7E8;
    border-radius: 3px;
    padding: 12px !important;
}

.desc-news.textLine-4 {
    margin-bottom: 0px !important;
}

.bottom-read {
    font-size: 15px !important;
}

.list-news .item-news .box-image img {
    width: 100%;
    height: 175px !important;
    object-fit: cover;
}
