// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "~ng-pick-datetime/assets/style/picker.min.css";


// If you want to add something do it here
@import "custom";
/* width */
html {
  //Màu xanh
  /*background: #2196F3;*/
  // Màu đỏ
  background: #ef6c00;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ef6c00;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}
.login-form .input-group {
	margin-bottom: 1px;
}

.error {
	color: red !important;
}

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .toast:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .toast.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

table.table > tbody > tr > td > a.btn {
  margin-right: 2px; 
}

table.dataTable{clear:both;margin-top:0px!important;margin-bottom:6px!important;max-width:none!important;border-collapse:separate!important;border-spacing:0; background:#ffffff;}table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;box-sizing:content-box}table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{text-align:center}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}div.dataTables_wrapper div.dataTables_length label{font-weight:400;text-align:left;white-space:nowrap}div.dataTables_wrapper div.dataTables_length select{width:auto;display:inline-block}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter label{font-weight:400;white-space:nowrap;text-align:left}div.dataTables_wrapper div.dataTables_filter input{margin-left:.5em;display:inline-block;width:auto}div.dataTables_wrapper div.dataTables_info{padding-top:.85em;white-space:nowrap}div.dataTables_wrapper div.dataTables_paginate{margin:0;white-space:nowrap;text-align:right}div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin:2px 0;white-space:nowrap;justify-content:flex-end}div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0}table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{padding-right:30px}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:none}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:before,table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{position:absolute;bottom:.9em;display:block;opacity:.7}table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:before{right:1em;content:"\2191"}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{right:.5em;content:"\2193"}table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{opacity:1}table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{opacity:0}div.dataTables_scrollHead table.dataTable{margin-bottom:0!important}div.dataTables_scrollBody table{border-top:none;margin-top:0!important;margin-bottom:0!important}div.dataTables_scrollBody table thead .sorting:before,div.dataTables_scrollBody table thead .sorting_asc:before,div.dataTables_scrollBody table thead .sorting_desc:before,div.dataTables_scrollBody table thead .sorting:after,div.dataTables_scrollBody table thead .sorting_asc:after,div.dataTables_scrollBody table thead .sorting_desc:after{display:none}div.dataTables_scrollBody table tbody tr:first-child th,div.dataTables_scrollBody table tbody tr:first-child td{border-top:none}div.dataTables_scrollFoot>.dataTables_scrollFootInner{box-sizing:content-box}div.dataTables_scrollFoot>.dataTables_scrollFootInner>table{margin-top:0!important;border-top:none}@media screen and (max-width:767px){div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{text-align:center}}table.dataTable.table-sm>thead>tr>th{padding-right:20px}table.dataTable.table-sm .sorting:before,table.dataTable.table-sm .sorting_asc:before,table.dataTable.table-sm .sorting_desc:before{top:5px;right:.85em}table.dataTable.table-sm .sorting:after,table.dataTable.table-sm .sorting_asc:after,table.dataTable.table-sm .sorting_desc:after{top:5px}table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0}table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}div.dataTables_scrollHead table.table-bordered{border-bottom-width:0}div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child{padding-left:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child{padding-right:0}

.button-custom {
  margin-bottom: 5px;
  overflow: auto;
}

.button-custom > button {
  float: right;
  width: auto;
}

@media (min-width: 992px)
{
  .modal-big {
    max-width: 1100px;
  }
}

.body-form-add-new > div {
  /*display: inline-block;*/
  vertical-align: top;
}

.body-form-add-new .form-group {
  margin-bottom: 5px;
}

.body-form-add-new .help-block {
  color: red;
  padding-left: 5px;
  display: inline-block;
}

#DataTables_Table_0_info > span {
  color: blue;
}

.table > tbody > tr > td {
  padding: 0.2rem !important;
  line-height: 2;
}

.ngx-modal > div {
  min-width: 400px;
}

.custom-ckeditor > label {
  width: 18%;
  display: inline-block;
  padding-left: 15px;
}

.custom-ckeditor > div {
  width: 82%;
  display: inline-block;
  padding-right: 15px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option,.ng-optgroup {
  padding: 2px 10px;
  font-size:13px;
}


//17_12_2018
.squaredcheck {
  width: 210px;
  position: relative;
  margin: 10px 20px;
  padding-left: 20px;

  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 0;
    background: lighten(#0096FF, 20%);
    border-radius: 0px;

    &:after {
      content: '';
      width: 10px;
      height: 5px;
      position: absolute;
      top: 6px;
      left: 5px;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }

  span {
    position: absolute;
    width: 300px;
    left: 30px;
    top: 0px;
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label {
      background: #0096FF;
    }

    &:checked + label:after {
      opacity: 1;
    }

    &.checkbox2 + label {
      background: lighten(#329d7b, 20%);
    }

    &.checkbox2 {
      &:checked + label {
        background: #329d7b;
      }
    }

    &.checkbox3 + label {
      background: lighten(#CC66FF, 20%);
    }

    &.checkbox3 {
      &:checked + label {
        background: #CC66FF;
      }
    }

    &.checkbox4 + label {
      background: lighten(#ff5722, 20%);
    }

    &.checkbox4 {
      &:checked + label {
        background: #ff5722;
      }
    }

    &.checkbox5 + label {
      background: lighten(#FF0000, 20%);
    }

    &.checkbox5 {
      &:checked + label {
        background: #FF0000;
      }
    }
  }
}

.circlecheck {
  display: inline-block;
  position: relative;
  width: 40%;
  margin: 0 auto;
  input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  label{
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px 5px 40px;
    margin: 5px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }

  .outer-circle{
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    &:before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 8px;
      width: 8px;
      top: 3px;
      left: 3px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
  }
  input[type=radio] {
    &.circle-1 ~ .outer-circle {
      border-color: lighten(#009999, 10%);
    }

    &.circle-2 ~ .outer-circle {
      border-color: lighten(#FF6600, 20%);
    }

    &.circle-3 ~ .outer-circle {
      border-color: lighten(#9900CC, 20%) ;
    }
  }

  input[type=radio].circle-1:checked ~ .outer-circle {
    border: 3px solid #009999;
  }

  input[type=radio].circle-1:checked ~ .outer-circle::before{
    background: #009999;
  }

  input[type=radio].circle-2:checked ~ .outer-circle {
    border: 3px solid #FF6600;
  }

  input[type=radio].circle-2:checked ~ .outer-circle::before{
    background: #FF6600;
  }

  input[type=radio].circle-3:checked ~ .outer-circle {
    border: 3px solid #9900CC;
  }

  input[type=radio].circle-3:checked ~ .outer-circle::before{
    background: #9900CC;
  }
}

//18_12_2018

.box-tag {
  display: inline-block;
  margin-right: 10px;
}

.box-tag:hover {

}

.remove-tag {
  border: 1px solid crimson;
  padding: 5px 5px;
  padding-right: 8px;
  border-right: none;
  border-radius-top: unset;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}

.show-tag {
  border: 1px solid crimson;
  padding: 5px 5px;
  padding-right: 8px;
  background-color: crimson;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sidebar .nav-link .nav-icon {
  margin: 0 0 0 0;
}

.nav-dropdown.open .nav-item .nav-link {
    padding-left: 35px;
}

#tbl-role > thead > tr > th {
  background: #ccdcf6;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 5px 8px;
  color: #0263a9;
  vertical-align: middle;
  font-weight: 500;
}

#tbl-role > tbody {
  max-height: 350px;
  height: 100%;
  overflow-y: scroll;
  display: block;
}

#tbl-role > tbody > tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#tbl-role > thead{
  display: table;
  width: 100%;
  table-layout: fixed;
}


#tbl-role > tbody > tr > td {
  vertical-align: middle;
}

.func-role {
  width: 60px;
}

.stt-role{
  width: 45px;
}

th.func-role > span, .func-role > input {
  display: block;
  margin: auto;
  width: max-content;
  margin-bottom: 8px;
  margin-top: 8px;
}

.sidebar .nav-link.active {
  background: #3a4248;
}

.sidebar .nav-link.active .nav-icon {
  animation: fa-spin 2s infinite linear;
  color: #20a8d8;
}

.sidebar .nav-link:hover .nav-icon {
  color: white;
}
.class-icon{
  padding: 0;
}
.text-center{
  text-align:center;
}

.sidebar .nav-item {
  margin-top: 2px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: unset !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #16a4d9 !important;
  /*font-weight: bold !important;*/
  color: white !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: #5885b1 !important;
  font-weight: bold !important;
  color: white !important;
}

.columnAction {
  text-align: center;
  min-width: 95px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.sidebar .nav-link:hover {
  background: #20a8d8 !important;
}

.app-header.navbar .navbar-toggler.d-md-down-none {
    display: none;
}

.image-upload {
  width: 120px;
  height: 90px;
  margin-top: 5px;
  border: 1px solid #eee;
}

.icon-remove-image {
  font-size: 15px;
  color: red;
  position: absolute;
  background-color: unset;
  top: 33px;
  right: 208px;
  border-radius: 2px;
  cursor: pointer;
}

.cdk-overlay-container {
  z-index: 1050;
}

.IconCheck {
  display: block;
  text-align: center;
  font-size: 25px !important;
}

.row-box-filter > div {
  padding-left: 0px;
  display: inline-block;
}

.col-form-label {
  font-weight: bold;
}

.IconCheck {
  display: block;
  text-align: center;
  font-size: 25px !important;
}

.calendar-fix {
  position: absolute;
  top: 7px;
  right: 25px;
}

#DataTables_Table_0_filter > label {
  width: 75%;
}

#DataTables_Table_0_filter > label > input {
  width: 82%;
}

.btn-sort {
  position: absolute;
  top: 3px;
  padding: 1px 10px;
  border-radius: 0px;
  z-index: 999;
}

.btn-category {
    text-align: center;  
}

.btn-category > button {
  width: auto;
  display: inline-block;
  margin-top: 0px !important;
  margin-right: 5px;
}

/* Start Css for Rating Star */

.rating:not(:checked) > label {
    float:left;
    width:0.8em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.ng-select .ng-select-container {
  min-height: 28.38px !important;
  /* margin:0px 10px; */
}

.select-itembox .ng-select-container {
  height: 28.38px !important;
}
.tab-content-custom .tab-content {
  background: #f1f1f1;
}
.tab-content-custom .tab-content .tab-pane {
  padding: 10px 0px;
}
/*tab them sua san pham*/
tabset.tab-content-detail.tab-container ul.nav.nav-tabs {
  width: 25%;
  float: left;
  border-right: 1px solid #eee;
  border-bottom: 0;
}
tabset.tab-content-detail.tab-container ul.nav.nav-tabs .nav-link {
  border: 0px
}
tabset.tab-content-detail.tab-container ul.nav.nav-tabs li {
  width: 100%;
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #eee;
}
tabset.tab-content-detail.tab-container ul.nav.nav-tabs li a {
  color: #0073aa;
  font-size: 13px;
  padding: 0px 15px;
}
tabset.tab-content-detail.tab-container ul.nav.nav-tabs li.nav-item.active {
  background: #EEEEEE;
}
tabset.tab-content-detail.tab-container ul.nav.nav-tabs li.nav-item.active a {
  color: #555;
  background: #EEEEEE;
}
tabset.tab-content-detail.tab-container .tab-content {
  width: 75%;
  float: left;
  border: 0;
  background: #fff;
  border-left: 1px solid #eee;
  /*overflow: hidden;*/
}
.custom-ttsp .ng-select.ng-select-single .ng-select-container {
  height: 27px;
  border-radius: 0px;
  margin-top: 0px;
  margin: 0px;
  margin-top: -9px;
  padding: 0px;
}
.row.cms-filter .ng-select .ng-select-container {
 height:30px
}
.siderbar-product .icon-remove-image {
  top: inherit;
  left: inherit;
  bottom: 20px !important;
  right: 5px !important;
}
.page-link {
  line-height: 1.0;
}


/* .rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
} */

/* End Css for Rating Star */


/* Danh mục sản phẩm */

.col-name-category { 
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 750px;
  width: calc(100% - 788px);
  padding-left: 5px;
  height: 100%;
  padding-top: 3px;
  font-weight: 600;
    color: #0073aa;
}

.col-image-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 86px;
  right: 665px;
  height: 100%;
  padding-top: 3px;
  padding-left: 3px;
}

.col-image-category > img {
  border: 1px solid #ccc;
  width: 35px;
  height: 35px;
}

.col-parent-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 200px;
  right: 510px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
}
.col-url-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 300px;
  right: 315px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
}

.col-online-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 100px;
  right: 128px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
}

.col-des-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 140px;
  right: 0px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
}
.col-lang-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 100px;
  right: 315px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
  text-align:center;
}
.col-lang-category img{
  height:15px !important;
  width:25px;
}

/* Danh mục unit */

.col-name-u-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 670px;
  width: calc(100% - 700px);
  padding-left: 5px;
  height: 100%;
  padding-top: 3px;
  font-weight: 600;
  color: #0073aa;
}

.col-image-u-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 86px;
  right: 665px;
  height: 100%;
  padding-top: 3px;
  padding-left: 3px;
}

.col-image-u-category > img {
  border: 1px solid #ccc;
  width: 35px;
  height: 35px;
}

.col-id-u-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 200px;
  right: 468px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
}

.col-short-u-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 200px;
  right: 230px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
}

.col-online-u-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 100px;
  right: 128px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
}

.col-date-u-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 140px;
  right: 0px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
}

.col-lang-category {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 100px;
  right: 315px;
  height: 100%;
  padding-top: 3px;
  padding-left: 5px;
  color: #23282c;
  text-align: center;
}

.col-lang-category img {
  height: 15px !important;
  width: 25px;
}

.category-action {
  padding-left: 3px;
}

.category-action .id-item {
  color: #ccc;
    font-weight: 400;
    cursor: pointer;
}

.category-action .add-item,.update-item {
    font-weight: 400;
    cursor: pointer;
}

.category-action .delete-item {
  color: #f00;
    font-weight: 400;
    cursor: pointer;
}

.category-move-btn {
  width: 38px;
  height: 100%;
    top: 0px; 
  right: 0px;
  display: inline-block;
    float: left;
    padding: 7px;
    cursor: move;
}

.category-title {
  padding-left: 10px;
  width: 1060px;
    max-width: 100%;
    position: relative;
    height: 20px;
    margin-bottom: 5px;
}

.category-title > span {
  font-weight: bold;
  color: #23282c;
}

/* End danh mục sản phẩm */

.search-box {
  width:100px;
  text-align: right;
  margin-right: 5px;
}

.box-filter {
  margin-left: 10px;
}

.ng-select.disable-arrow .ng-arrow-wrapper .ng-arrow {
  display: none !important;
}

.ng-select.mw200-select > .ng-select-container {
  width: 200px;
}

.ng-select.mw200-select > ng-dropdown-panel {
  width: 200px;
  text-align:left;
}
.row-choose .ng-select.mw200-select > ng-dropdown-panel {
  width: 100%;
}
.ng-select.mw200-select {
  width: 200px;
  display: inline-block;
  margin-right: 5px;
}

.ng-select.mw150-select > .ng-select-container {
  width: 150px;
}

.ng-select.mw150-select > ng-dropdown-panel {
  width: 150px;
}

.ng-select.mw150-select {
  width: 150px;
  display: inline-block;
  margin-right: 5px;
}

.ng-select.mw300-select > .ng-select-container {
  width: 300px;
}

.ng-select.mw300-select > ng-dropdown-panel {
  width: 300px;
}

.ng-select.mw300-select {
  width: 300px;
  display: inline-block;
  margin-right: 5px;
}

.ng-select.mw250-select > .ng-select-container {
  width: 250px;
}

.ng-select.mw250-select > ng-dropdown-panel {
  width: 250px;
}

.ng-select.mw250-select {
  width: 250px;
  display: inline-block;
  margin-right: 5px;
}

.action-table {
  padding-left: 5px !important;
}

.action-table button.cms-addnew {
  padding: 6px 8px;
}

.action-table button.cms-addnew[disabled] {
  cursor: not-allowed;
}

.btn-action-table .squaredcheck label {
  background: #fff;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  font-size: 13px;
  top: 3px;
  left: calc(50% - 15px);
}

.btn-action-table .squaredcheck {
  width: 50px;
  margin: unset;
  text-align: center;
}
.coment-post .ng-select.mw200-select > .ng-select-container, .coment-post .ng-select.mw200-select {
  width: 100%;
}






/* Thảo 4-4*/
.btn-success {
  background: #0073aa;
  border-color: #0073aa;
}
button.btn.btn-default {
  background-color: #cccccc;
  border-color: #cccccc;
}
.nav-item .nav-icon {
  display: none;
}

.sidebar .nav-item .nav-link {
  padding: 10px;
}

.sidebar .nav-item .nav-link .nav-icon {
  margin-right: 2px;
  width: 16px;
  font-size: 13px;
}

.sidebar .nav-item .nav-dropdown-items .nav-link {
  padding: 3px 28px;
  padding-right: 10px;
  padding-bottom: 4px;
}

.sidebar .nav-item .nav-dropdown-items .nav-item:last-child {
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

.sidebar .nav-item {
  margin-top: 1px
}

.main h1 {
  /*margin-top:10px;*/
}

.card-header {
  padding: 9px 15px;
  font-size: 23px;
}

.ng-dropdown-panel.ng-select-bottom {
  /*left:10px;*/
  text-align:left;
}

span.price-new[_ngcontent-c4] {
  text-decoration: none !important;
}

.card {
  border-radius: 0;
  margin-bottom: 0;
}

.modal-header {
  padding: 8px 15px;
  border-bottom: none;
  border-radius: 0;
  background: #047ab3;
  color: #ffffff;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-footer {
  padding: 8px 15px;
}

.modal-title {
  font-size: 20px;
  font-weight: normal;
}

.in-cat-product .squaredcheck {
  margin: 5px 20px;
}

.in-cat-product {
  margin-top: 10px;
}

.sortable-container {
  margin-top: 5px;
  border-radius: 0 !important;
}

.sortable-container .sortable-header {
  background: #f1f1f1 !important;
  background-image: none !important;
}

.sortable-container .sortable-header .sortable-name {
  font-size: 18px !important;
  font-weight: bold;
  color: #047ab3;
}

table.dataTable {
  margin-left: 0px;
  border: 1px solid #cccccc !important;
}

.nestable-lists {
  width: calc(100% + 20px) !important;
}

.cf.nestable-lists {
  width: 100% !important;
}

.ng-dropdown-panel.ng-select-top {
  text-align: left;
}
.fa-stack[data-count]:after {
  position: absolute;
  right: 15%;
  top: 20%;
  content: attr(data-count);
  font-size: 8px;
  border-radius: 50%;
  line-height: 16px;
  color: white;
  background: red;
  text-align: center;
  width: 16px;
  height: 16px;
}
.fa-inverse.fix-size{
    width:15px;
}
/*.cms-filter {
  padding-left: 15px !important;
  padding-right: 10px;
}*/
h1.cms-heading-inline {
  padding-left: 15px !important;
}

.cms-filter .col-sm-12.col-md-6:first-child {
  margin-left: -5px !important;
}

app-config-general {
  margin-top: 10px;
  width: 100%;
  float: left;
}
.ng-select .ng-select-container{
  border-radius:2px;
}
a {
  color: #0073aa;
}
.cms-content{
  padding-top: 15px;
  background: #e4e5e6;
  border: none;
}
.main .container-fluid{
  padding:0;
}
.cms-main{
  margin-top:0 !important;
}
.form-control{
  border:1px solid #cccccc;
  border-radius:2px;
}
.col-form-label{
  font-weight:normal
}
.siderbar-product .col-form-label{
  font-weight:bold;
}
.btn{
  border-radius:3px;
}
.form-menu .dd-handle{
  /*height:auto;*/
  border-radius:0;
}
.form-menu .dd-placeholder, .form-menu .dd-empty, .form-menu .dd-handle {
  min-height: 40px;
  height:40px !important;
}
.dd-list .dd-handle {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight:500;
  cursor:move;
}
td.name-parend.column-name span {
  display: block;
  line-height: 18px;
}
.cms-paging .col-sm-12.col-md-5 {
  padding-left: 5px;
}
.column-price span{
  display:block;
}
.prd-comment .ng-select ng-dropdown-panel, .row-select .ng-select .ng-select-container, .row-select .ng-select  ng-dropdown-panel {
  width: 100%
}
.ng-select.ng-select-single .ng-select-container {
  height: 30px;
}
.price-from span:nth-child(2) {
  height: 2px;
  line-height: 0px;
}
.table-bienthe tr td input.form-control {
  padding: 0px 5px
}
span.badge.badge-pill.badge-light {
  display: block;
  text-align: left;
}
.column-hs img {
  margin: 0px 5px;
}
.column-hs i{
  font-size:13px;
}
.map-lang {
  width: 100%;
  margin:10px 0px;
}
.map-lang label{
  width:120px;
  float:left;
}
.map-lang input {
  width: calc(100% - 120px);
  float: left;
}
.col-lang-category img {
  margin: 0px 3px;
}
/*end Thảo 4-4*/
.app-header .navbar-brand{
  width:200px;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.action-table .cms-addnew.button-action {
  position: relative;
  top: 0px;
}
.sidebar-fixed .sidebar.Sidebar-drawer {
  left: 0;
  transition: all .5s;
}
.sidebar-fixed .sidebar.Sidebar-drawer#active {
  left: -240px;
  transition: all .5s;
}
.app-body .main {
  margin-left: 240px !important;
  transition: all .5s;
}
.app-body .main.active {
  margin-left: 0px !important;
  transition: all .5s;
}
header.MuiPaper-root.active {
  width: 100%;
  transition: all .5s;
}
.menu-top{
    flex:1;
    display:none;
}
.menu-top.active{
    display:block;
}
.menu-top .nav {
  align-items: center;
  justify-content: center;
}
.menu-top .sidebar-nav .nav > .nav-item{
    position:relative;
}
.menu-top .sidebar-nav .nav > .nav-item.nav-dropdown > .nav-dropdown-items {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  min-width: 180px;
  background-image: linear-gradient(-45deg, #2196F3 0%, #2196F3 33%, #00BFA5 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}
.dark .menu-top .sidebar-nav .nav > .nav-item.nav-dropdown > .nav-dropdown-items {
  background-image: linear-gradient(-45deg, #276393 0%, #276393 33%, #007263 100%);
}
.menu-top .sidebar-nav .nav > .nav-item .nav-link {
  color: #fff;
  padding: 20px 15px;
}
.menu-top .sidebar-nav .nav > .nav-item .nav-link:hover {
  color: #ffe564;
}
.dark .menu-top .sidebar-nav .nav > .nav-item .nav-link:hover {
  color: #28ffa4;
}
.menu-top .nav-item .nav-icon {
  display: inline-block !important;
  margin-right: 5px;
}
.menu-top .sidebar-nav .nav > .nav-item.nav-dropdown:hover > .nav-dropdown-items {
  display: block;
  animation: fadeUp;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    margin-top:20px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}
.menu-top .sidebar-nav .nav > .nav-item > .nav-dropdown-items > .nav-item > .nav-link {
  padding: 8px 15px;
}
.ClockHome.active{
    display:none;
}
.DetailUser.non-active{
    flex:1;
}
.dataTables_length {
  display: flex;
  align-items: center;
}
.dataTables_length .export {
  margin-bottom: 0.5rem;
  margin-right: 20px;
}
.dataTables_length .export span {
    margin-left:8px;
}
.dp-flex{
  display: flex;
}
.img-ntg{
  height: 160px;
    width: auto;
}
@media only screen and (max-width:1600px) {
  .menu-top .sidebar-nav .nav > .nav-item .nav-link {
    padding: 20px 10px;
    font-size: 13px
  }

  .menu-top .nav-item .nav-icon {
    font-size: 12px;
  }
}
@media only screen and (max-width:1600px) {
  .app-body .main {
    margin-left: 200px !important;
  }
}
body.app {
  min-width: 1400px !important;
}
.col-md-12.ckediter ckeditor textarea {
  width: 100%;
  height: 300px;
}
.disable-sc ng-select {
  opacity: 0.6; /* Điều chỉnh độ mờ tùy thuộc vào thiết kế */
  pointer-events: none; /* Vô hiệu hóa sự kiện */
  cursor: not-allowed; /* Thay đổi con trỏ chuột */
}