
<form action="/ket-qua-tim-kiem.html" method="post" accept-charset="utf-8">
    <input type="text" name="sName" value="" placeholder="Nhập từ khóa tìm kiếm">
    <select name="sType">
        <option value="1">Sản phẩm</option>
        <option value="2">Tin tức</option>
    </select>
    <input type="submit" name="" value="Tìm kiếm">
</form>
