@model IEnumerable<IOITWebApp31.Models.EF.BackLink>
@using IOITWebApp31.Models;

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <option value="@item.LinkOut">@item.LinkIn</option>
    }
}