<div class="chinhsach">
    <div class="title-cs">Chính sách đấu giá</div>
    <p>
        Về nguyên tắc, chúng tôi không thể chấp nhận các quan tài không được liệt kê trong cột giải thích của triển lãm, bao gồm phí lưu ký, chấp nhận quyền nuôi con và cho các hội chợ.<br>
        Nếu bạn muốn lưu trữ lâu dài vì những lý do không thể tránh khỏi, vui lòng liên hệ với chúng tôi qua email hoặc điện thoại trước khi đấu thầu.<br>
        Ngoài ra, nếu bạn định nhận hối lộ trong một thời gian dài , xin lưu ý rằng chúng tôi không có bất kỳ bảo đảm tử vong nào khi bị giam giữ .
    </p>
    <p>Ngoài ra, chúng tôi sẽ bán với bảo lãnh nữ, nhưng nếu nó là nam, chúng tôi sẽ hoàn trả đầy đủ.</p>
</div>