<div class="animated fadeIn cms-main">
  <div class="card cms-content">
    <div class="titleCat">
      <h1 class="cms-heading-inline">Danh mục sản phẩm</h1>
      <button class="cms-addnew" type="button" (click)="OpenCateProductModal(undefined, undefined, 1)"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
    </div>
    <div class="row cms-filter action-table">
      <div class="col-sm-12 col-md-12" style="text-align:right; padding-right:20px">
        <ng-select [items]="listLanguage"
                   class="mw200-select"
                   bindLabel="Name"
                   bindValue="LanguageId"
                   [multiple]="false"
                   placeholder="Ngôn ngữ"
                   (change)="QueryChanged()"
                   [(ngModel)]="q.LanguageId"
                   [ngModelOptions]="{standalone: true}"
                   style="text-align:left;">
        </ng-select>
      </div>
    </div>
    <div class="card-body">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row danhmuc-all">
          <div class="col-sm-12 col-md-12">
            <div class="cf nestable-lists" style="background: #ffffff; display: inline-block; border-top: none; padding-top: 10px !important;border: 1px solid #cccccc; margin-top: 10px !important;">
              <div class="category-title ">
                <span class="col-name-category">Tên</span>
                <span class="col-image-category"><i class="fa fa-image"></i></span>
                <span class="col-url-category">Đường dẫn</span>
                <span class="col-lang-category" *ngIf="listLanguage.length > 1">Ngôn ngữ</span>
                <span class="col-online-category">Ẩn/Hiện</span>
                <span class="col-des-category">Mô tả</span>
              </div>
              <div class="dd" id="nestable" style="padding-left: 10px;max-width: 100%;">
                <ol [data]="listCateProduct" [key]="key" [hasAction]="true" [listLanguage]="listLanguage" [languageId]="languageId" class="dd-list"></ol>
              </div>
            </div>
            <textarea style="display:  none;" id="nestable-output"></textarea>
            <textarea style="display:  none;" id="nestable2-output"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="btn-category">
              <button class="btn btn-block btn-success" type="button" (click)="SaveSortCategory()"><i class="fa fa-floppy-o"></i>&nbsp; Lưu cây danh mục</button>
              <button class="btn btn-block btn-dark" type="button" (click)="ResetCurrentRouter()"><i class="fa fa-retweet"></i>&nbsp; Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [config]="{backdrop: 'static',  keyboard: false}" bsModal #CateProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-big" role="document" style="max-width:1300px">
    <form class="login-form">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="Item.CategoryId==undefined && Item.LanguageRootCode == undefined">Thêm mới danh mục sản phẩm</h4>
          <h4 class="modal-title" *ngIf="Item.CategoryId!=undefined">Sửa thông tin danh mục sản phẩm</h4>
          <h4 class="modal-title" *ngIf="Item.CategoryId==undefined && Item.LanguageRootCode != undefined">Thêm mới danh mục sản phẩm cho ngôn ngữ</h4>
          <button type="button" class="close" (click)="CateProductModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="card-body body-form-add-new">
              <div class="row">
                <div class="col-sm-12 col-md-9">
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Code">Mã danh mục<span *ngIf="Item.Code==undefined || Item.Code==''" style="color: red;">&ngsp;(*)</span></label>
                      <div class="col-md-12">
                        <input type="text" id="Code" name="Code" class="form-control" placeholder="" [(ngModel)]="Item.Code" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Name">Tên danh mục<span *ngIf="Item.Name==undefined || Item.Name==''" style="color: red;">&ngsp;(*)</span></label>
                      <div class="col-md-12">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="" [(ngModel)]="Item.Name" (ngModelChange)="ChangeTitle(1)" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Url">Đường dẫn<span *ngIf="Item.Url==undefined || Item.Url==''" style="color: red;">&ngsp;(*)</span></label>
                      <div class="col-md-12">
                        <input type="text" id="Url" name="Url" class="form-control" placeholder="" [(ngModel)]="Item.Url" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row custom-ckeditor">
                      <label class="col-form-label col-sm-12 col-md-12">Nội dung</label>
                      <div class="col-sm-12 col-md-12">
                        <ckeditor name="Contents"
                                  [(ngModel)]="Item.Contents"
                                  [config]=""
                                  [readonly]="false"
                                  debounce="0">
                        </ckeditor>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Description">Mô tả(<i>{{newDescription.value.length}}/300</i>)</label>
                      <div class="col-md-12">
                        <textarea id="Description" name="Description" maxlength="300" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.Description" (ngModelChange)="ChangeTitle(2)" #newDescription></textarea>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="MetaTitle">Meta Title(<i>{{newMetaTitle.value.length}}/200</i>)</label>
                      <div class="col-md-12">
                        <textarea id="MetaTitle" name="MetaTitle" maxlength="200" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.MetaTitle" #newMetaTitle></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="MetaKeyword">Meta Keyword(<i>{{newMetaKeyword.value.length}}/200</i>)</label>
                      <div class="col-md-12">
                        <textarea id="MetaKeyword" name="MetaKeyword" maxlength="200" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.MetaKeyword" #newMetaKeyword></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="MetaDescription">Meta Description(<i>{{newMetaDescription.value.length}}/300</i>)</label>
                      <div class="col-md-12">
                        <textarea id="MetaDescription" name="MetaDescription" maxlength="300" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.MetaDescription" #newMetaDescription></textarea>
                      </div>
                    </div>
                  </div>
                  <!--<div class="form-group row" *ngIf="listLanguage.length > 1 && Item.CategoryId != undefined">
    <div *ngFor="let language of item.listLanguage">
      <label class="col-md-12 col-form-label" for="Name">{{ language.lang?.Name }}</label>
      <div class="col-md-12">
        <input type="text" id="Name" name="Name" class="form-control" placeholder="" [(ngModel)]="language.Name" autocomplete="off" disabled value="{{ language.category?.Name }}">
      </div>
    </div>
  </div>-->
                  <!--<div class="form-group row" *ngIf="listLanguage.length > 1 && Item.CategoryId == undefined">
                    <label class="col-md-12 col-form-label" for="Lang">{{ Item.LangName }}</label>
                    <div class="col-md-12">
                      <input type="text" id="Lang" name="Lang" class="form-control" placeholder="" [(ngModel)]="Item.LangTitle" autocomplete="off" disabled value="{{ Item.LangTitle }}">
                    </div>
                  </div>-->
                  <div class="form-group row" *ngIf="listLanguage.length > 1">
                    <div class="map-lang col-md-12" *ngFor="let language of Item.listLanguage; let i = index">
                      <div class="col-md-12">
                        <label class="col-form-label" for="LangTitle">{{ language.lang?.Name }}</label>
                        
                          <input type="text" id="LangTitle_{{i}}" name="LangTitle_{{i}}" class="form-control" placeholder="" [(ngModel)]="language.category.Name" autocomplete="off" disabled value="{{ language.category?.Name }}">
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3 siderbar-product" style="margin-top:15px;">

                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="">Đăng danh mục</label>
                      <div class="col-md-12 squaredcheck" style="display:flex; justify-content: space-between; margin-left: 0px; padding: 8px 20px;">
                        <button type="button" class="btn btn-primary" appNoDblClickMat (click)="SaveCateProduct()">Lưu thông tin</button>
                        <button type="button" class="btn btn-primary" appNoDblClickMat (click)="GetTranslate(Item.CategoryRootId)"
                                *ngIf="Item.CategoryId ==undefined && Item.LanguageRootCode != undefined">
                          Dịch
                        </button>
                        <button type="button" class="btn btn-secondary" (click)="CateProductModal.hide()">Đóng</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12" *ngIf="listLanguage.length > 1">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="">Ngôn ngữ<span *ngIf="Item.LanguageId==undefined" style="color: red;">&ngsp;(*)</span></label>
                      <div class="col-md-12" style="padding: 20px;">
                        <ng-select [items]="listLanguageTemp"
                                   bindLabel="Name"
                                   bindValue="LanguageId"
                                   placeholder="Chọn ngôn ngữ"
                                   [(ngModel)]="Item.LanguageId"
                                   (change)="selectLanguage()"
                                   [disabled]="Item.CategoryId != undefined"
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="">Danh mục cha</label>
                      <div class="col-md-12" style="padding: 20px;">
                        <ng-select [items]="listCateParent"
                                   bindLabel="Name"
                                   bindValue="CategoryId"
                                   placeholder="Chọn danh mục"
                                   [(ngModel)]="Item.CategoryParentId"
                                   [ngModelOptions]="{standalone: true}">
                          <ng-template ng-label-tmp let-item="item">
                            <span>{{item.Name}}</span>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            <span [innerHTML]="item.Space"></span><span *ngIf="item.Level!=1">&nbsp;</span><span>{{item.Name}}</span>
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Icon">Icon Bootstrap</label>
                      <div class="col-md-12" style="padding: 20px;">
                        <input type="text" id="Icon" name="Icon" class="form-control" placeholder="Icon" [(ngModel)]="Item.IconFa" autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Icon">Icon</label>
                      <div class="col-md-12" style="padding:20px">
                        <input #fileIcon id="IconImage" name="IconImage" type="file" (change)="upload(fileIcon.files, 4)" />
                        <span style="font-weight:bold;color:green;" *ngIf="progressIcon > 0 && progressIcon < 100">
                          {{progressIcon}}%
                        </span>
                        <span style="font-weight:bold;color:green;">
                          <img class="image-upload" *ngIf="Item.CategoryId == undefined && messageIcon" src="{{ domainImage }}{{ messageIcon }}" />
                          <img class="image-upload" *ngIf="Item.CategoryId != undefined && Item.Icon != undefined" src="{{ domainImage }}{{ Item.Icon }}" />
                        </span>
                        <i class="fa fa-trash icon-remove-image" style="right: 131px;" (click)="RemoveImage(4)" *ngIf="(Item.CategoryId == undefined && messageIcon) || (Item.CategoryId != undefined && Item.Icon != undefined)"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Image">Ảnh danh mục</label>
                      <div class="col-md-12" style="padding:20px">
                        <input #file id="Image" name="Image" type="file" (change)="upload(file.files, 5)" />
                        <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                          {{progress}}%
                        </span>
                        <span style="font-weight:bold;color:green;">
                          <img class="image-upload" *ngIf="Item.CategoryId == undefined && message" src="{{ domainImage }}{{ message }}" />
                          <img class="image-upload" *ngIf="Item.CategoryId != undefined && Item.Image != undefined" src="{{ domainImage }}{{ Item.Image }}" />
                        </span>
                        <i class="fa fa-trash icon-remove-image" (click)="RemoveImage(5)" *ngIf="(Item.CategoryId == undefined && message) || (Item.CategoryId != undefined && Item.Image != undefined)"></i>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="file-input">Slide ảnh sản phẩm</label>
                      <div class="col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
                        <input #fileSlide type="file" id="ImageSlide" name="ImageSlide" multiple (change)="upload(fileSlide.files, 3)" />
                        <span style="font-weight:bold;color:green;" *ngIf="progressSlide > 0 && progressSlide < 100">
                          {{progressSlide}}%
                        </span>
                        <div>
                          <div *ngFor="let image of Item.listImage; let i = index" class="image-thumb-koi" [hidden]="image.Status!=1">
                            <img src="{{ domainImage }}{{ image.Image }}" />
                            <button class="btn btn-block btn-outline-primary" [ngClass]="image.IsImageMain == true ? 'active' : ''" type="button" aria-pressed="true" (click)="SetIsMain(i)">Ảnh chính</button>
                            <button class="btn btn-block btn-outline-danger active" type="button" aria-pressed="true" (click)="RemoveImageSlide(i)">Xóa</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>-->
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 col-form-label" for="Location">Thứ tự hiển thị</label>
                      <div class="col-md-12" style="padding:20px">
                        <input type="number" id="Location" name="Location" class="form-control" min="1" placeholder="" [(ngModel)]="Item.Location" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                      </div>
                    </div>
                  </div>

                </div>
                </div>
              </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" appNoDblClickMat (click)="SaveCateProduct()">Lưu thông tin</button>
          <button type="button" class="btn btn-secondary" (click)="CateProductModal.hide()">Đóng</button>
        </div>
      </div>
    </form>
  </div>
</div>



