.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

h1.cms-heading-inline {
  display: inline-block;
  font-size: 23px;
  margin-right: 6px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 0px;
}

.cms-main {
  margin-top: 30px;
}

.cms-content {
  padding-top: 15px;
}

.cms-addnew {
  color: #fff;
  border: 1px solid #d3d3d3;
  padding: 6px 16px;
  min-height: 36px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  top: -2px;
}

.cms-addnew.button-action {
  color: #fff;
  padding: 0px 20px;
  border-radius: 8px;
}

.dark .cms-addnew {
  background-color: #00BFA5;
}

.cms-subsubsub a.current {
  color: #0073aa;
}

.cms-subsubsub li {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.card-body {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 0px;
}

ul.cms-subsubsub {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 3px;
}

.cms-filter {
  padding-left: 15px !important;
}

.cms-subsubsub a {
  line-height: 2;
  padding: .2em;
  text-decoration: none;
  color: #6a6a6a;
}
.cms-subsubsub li svg {
  height: 14px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}
input {
  outline: none
}

table, .table-bordered th, .table-bordered td {
  border: none;
}

/*thead {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}*/

table .column-thumb {
  width: 5%;
  text-align: center;
  white-space: nowrap;
}

table {
  table-layout: fixed;
}

table .column-name {
  width: 30%;
}

.column-cat {
  width: 20%;
}

table .column-product_cat, table .column-product_tag {
  width: 11% !important;
}

.cms-function {
  position: relative;
  left: -9999em;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.cms-function li {
  float: left;
  margin-right: 5px;
  color: #0073aa;
  font-weight: 400;
  cursor: pointer
}

.cms-function li.detete-item {
  color: #f00;
}

.cms-function li.id-item {
  color: #ccc;
}

table .column-url {
  width: 25%;
}

.table > tbody > tr > td {
  padding: 8px !important;
  line-height: 2;
}

/*tbody {
  border-bottom: 1px solid #ccc;
}*/

.cms-paging {
  padding-left: 20px;
}

table .column-stt, table .column-hs {
  width: 8%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.name-child {
  font-size: 15px !important;
  font-weight: 600;
  color: #0073aa;
}

.name-parend {
  color: #0073aa;
}

table.list-cat tbody > tr td {
  line-height: 1.3;
}

table.list-cat tbody > tr:hover .cms-function {
  position: static;
}

.switch-label {
  width: 48px;
  margin-bottom: 0px;
}

.select-itembox {
  height: 30px !important;
  border-radius: 2px
}

.column-rating {
  width: 10%;
}

.ng-select .ng-select-container {
  min-height: 30px !important;
}

.select-itembox .ng-select-container {
  height: 30px !important;
}

.dataTables_filter.pull-right {
  position: absolute;
  right: 22px;
}

.IconCheck {
  display: block;
  text-align: center;
  font-size: 25px !important;
  line-height: 1;
}

.modal-body, .card-body.body-form-add-new {
  padding: 0px !important
}

.tab-content-custom .tab-content {
  background: #f1f1f1;
}


.danhmuc-sp {
  border: 1px solid #e4e7ea;
  border-radius: 0px !important;
  background: #FDFDFD;
  margin-top: 14px;
  max-height: 335px;
  margin-bottom: 14px;
  overflow-y: auto;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}

.squaredcheck input[type=checkbox]:checked + label {
  background: #1b897a !important;
}

.in-cat-product {
  margin-left: -10px;
  margin-top: 0;
}

.siderbar-product .squaredcheck span.check-cat-sidebar {
  left: 20px;
  top: -5px;
  width: 220px;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin: 4px auto;
  line-height: 16px;
  ;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

tbody tr td img {
  border: 1px solid #ccc;
  width: 40px;
  height: 55px;
  object-fit:cover;
}

.squaredcheck label:after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


table.fixed_header {
  width: 100%;
  margin-bottom: 0px;
}

.fixed_header tbody {
  width: 100% !important;
  max-height: 300px;
  display: block;
  overflow-y: auto;
}

.fixed_header thead {
  min-width: 100% !important;
}

.fixed_header thead tr {
  width: calc(100% - 17px) !important;
  display: inline-block;
}

.fixed_header tbody tr {
  width: 100% !important;
  display: inline-block;
}

.fixed_header th, .fixed_header td {
  display: inline-block;
  text-align: left;
  border: 0
}

.fixed_header img {
  border: 1px solid #eee;
}

span.price-pri {
  text-decoration: line-through;
  color: #b5b3b3;
}

span.price-new {
  text-decoration: underline;
  font-weight: 400;
}

table.fixed_header .squaredcheck {
  width: inherit
}

.badge-light {
  background-color: transparent;
  padding-left: 0;
}

.badge-light a {
  color: #0073aa;
  font-weight: normal;
  font-size: 13px;
}
.customize-checked label:after {
  top: 6px;
  left: 5px;
}
.block-eng-add {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px dashed #333;
}
.attachments-wrapper .attachments-ui {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: -15px;
  overflow: auto;
}
.attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    height: 190px;
    position: relative;
    background: #f0f0f1;
}
.attachments-wrapper .attachments-ui .attachment .thumb {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 15px #0000001a, inset 0 0 0 1px #0000000f;
}
.dataTables_wrapper .content-table-data,.attachments-wrapper{
  width: 100%;
}
.attachments-wrapper .attachments-ui .attachment .thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  transform: translate(-50%,-50%);
  object-position:center;
  object-fit:cover;
}
.load-more-wrapper {
  text-align: center;
  position: relative;
  width: calc(100% - 78px);
  bottom: 0px;
  z-index: 19;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}
.load-more-wrapper .load-more-count {
  color: #333;
  font-size: 14px;
}
.load-more.button {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}
.load-more-wrapper .hiden {
  display: none;
}
.modal-views-media {
  left: 30px;
  top: 30px;
  background: #fff;
  right: 30px;
  bottom: 30px;
  width: calc(100% - 60px);
  height: calc(100vh - 60px);
}
.modal-views-media .wapper-modal {
  width: 100%;
  max-width: 100%;
}
.edit-media-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.edit-media-header .media-frame-title{
    flex:1;
}
.media-frame-title h1 {
  font-size: 22px;
  line-height: 2.27272727;
  margin: 0;
  padding-left: 20px;
  color: #1d2327;
}
.media-modal-close {
  border: 1px solid #f1f1f1;
  background: #ededed;
  height: 50px;
  width: 50px;
}
.media-modal-close i{
    font-size:20px;
}
.attachment-details {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}
.media-frame-content{
    padding: 0 50px;
}
.attachment-details .attachment-media-view {
  width: calc(65% - 15px);
  margin-right: 15px;
  position: relative;
}
.attachment-details .attachment-info {
  width: calc(35% - 15px);
  margin-right: 15px;
  overflow: auto;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 12px 16px 0;
  height: auto;
  box-shadow: inset 0 4px 4px -4px #0000001c;
  border-bottom: 0;
  border-left: 1px solid #dcdcde;
  background: #f6f7f7;
}
.attachment-details .attachment-media-view .thumbnail {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  max-height: calc(100% - 400px);
}
.attachment-details .attachment-media-view .thumbnail img {
  display: block;
  margin: 0 auto 16px;
  max-width: 100%;
  max-height: 90%;
  max-height: calc(100vh - 175px);
  background-image: linear-gradient(45deg,#c3c4c7 25%,transparent 25%,transparent 75%,#c3c4c7 75%,#c3c4c7),linear-gradient(45deg,#c3c4c7 25%,transparent 25%,transparent 75%,#c3c4c7 75%,#c3c4c7);
  background-position: 0 0,10px 10px;
  background-size: 20px 20px;
}
.attachment-info .details,
.edit-attachment-frame .attachment-info .settings{
  position: relative;
  overflow: hidden;
  float: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcde;
  font-size: 12px;
  max-width: 100%;
}
.attachment-info .details strong {
  color: #646970;
  margin-right:10px;
}
.attachment-info > .settings {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
  border-bottom: 1px solid #dcdcde;
  margin-bottom:15px;
}
.attachment-info > .settings > .setting {
  display: block;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-bottom:15px;
  flex-wrap:wrap;
}
.attachment-info > .settings > .setting label {
  margin-right: 15px;
  width: calc(35% - 15px);
  text-align: right;
}
.attachment-info > .settings > .setting input, .attachment-info > .settings > .setting textarea{
    width:65%;
}
.attachment-info > .settings > .setting input{
    min-height:40px;
}
.attachment-info > .settings > .setting textarea {
  min-height: 120px;
}
.copy-to-clipboard-container{
    margin-top:15px;
}
.copy-attachment-url {
  color: #2271b1;
  border-color: #2271b1;
  background: #f6f7f7;
  vertical-align: top;
  border: 1px solid;
  white-space: normal;
  min-height: 30px;
  border-radius: 5px;
  padding: 0 15px;
}
.wapper-modal-upload {
  width: 900px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff0;
  border-radius: 5px;

}
.wapper-modal-upload h2 {
  font-size: 23px;
  color: #1d2327;
  margin-bottom: 30px;
}
.drag-drop-area {
  border: 4px dashed #c3c4c7;
  height: auto;
  padding-bottom: 15px;
}
.post-upload-ui#post-upload-info{
    text-align:center;
}
.drag-drop-inside {
  margin: 60px auto 0;
  width: 250px;
}
.drag-drop-inside p {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-style: italic;
}
.drag-drop-inside .drag-drop-info {
  font-size: 15px;
  font-weight: 500;
}
.drag-drop-inside .drag-drop-buttons {
  margin-top: 20px;
}
.inside-previews {
  font-weight: bold;
  color: green;
  position: relative;
  display: block;
  width: max-content;
  margin:10px auto;
}
.inside-previews > img{
    max-height: 500px;
    height:auto;
    width:auto;
    max-width:100%;
    object-fit:cover;
}
.attachment-info .actions {
  margin-bottom: 16px;
}
.attachment-info .actions a {
  display: inline;
  text-decoration: none;
  font-size:13px;
}
.attachment-info .actions .links-separator {
    margin: 0 5px;
}
.attachment-info .actions .delete-attachment {
  display: inline;
  padding: 0;
  color: #d63638;
  border:none;
  font-size:13px;
}
.no-edit {
  cursor: no-drop;
  background: #d4d4d4;
  box-shadow: unset;
  outline: unset;
  border: 1px solid #656565;
}
.attachment-media-view video {
  height: calc(100vh - 180px);
  width: 100%;
  object-fit: cover;
}
.attachment-media-view .wapper-audio {
  height: calc(100vh - 180px);
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}
.attachment-media-view .wapper-audio img {
  width: 65px !important;
  background: #fff !important;
}
.attachment-media-view .wapper-audio img, .attachment-media-view .wapper-audio audio {
  width: 100%;
}
.view-document {
  text-align: center;
}
@media only screen and (max-width:2500px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    height: 130px;
  }
}
@media only screen and (max-width:2000px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    height: 135px;
  }
}
@media only screen and (max-width:1920px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    height: 110px;
  }
}
@media only screen and (max-width:1600px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(11.11% - 15px);
    height: 115px;
  }
}
@media only screen and (max-width:1366px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(12.5% - 15px);
    height: 130px;
  }
}
