@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script>

    document.getElementById("dang-ky").innerHTML = '<a href="/dang-ky-doi-tac" class="btn-cntt style-btn-kn btn_hover"><span>Đăng Ký Đối Tác</span></a>';
    //document.getElementById("doi-tac").innerHTML = '<a href="/chien-binh-khoi-nghiep" class="btn-cntt style-btn-kn btn_hover"><span>Hỗ trợ khởi nghiệp</span></a>';


    var isWhiteDivVisible = false;
    var whiteDiv = document.getElementById("whiteDiv");
    function closeWhiteDiv() {
        if (whiteDiv.style.display = "block") {
            isWhiteDivVisible = false;
            whiteDiv.style.display = "none";
        }
        document.removeEventListener("click", handleDocumentClick);
    }

    function handleDocumentClick(event) {
        if (!whiteDiv.contains(event.target)) {
            closeWhiteDiv();
        }
    }

</script>
<style>
    img {
        
    }
</style>
<main id="main" ng-controller="UserUnitController" ng-init="" onclick="closeWhiteDiv()">
    <div id="content" class="content-area">
        <section class="section section-login-1">
            <div class="bg-section"></div>
            <div class="container">
                <div class="row s11_r3" style="display: none">
                    <div class="col col-md-12 col-12 s11_r3_c1">
                        <div class="col-inner">
                            <div class="image-countdown"><img src=~/images/cashplus/image905.png /></div>
                            <div id="countdown">
                                <ul>
                                    <li><span id="days"></span>Ngày</li>
                                    <li><span id="hours"></span>Giờ</li>
                                    <li><span id="minutes"></span>Phút</li>
                                    <li><span id="seconds"></span>Giây</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="say_hello">
                </div>
                <div>
                  @*  <span class="close" id="closeBtn3">&times;</span>*@
                   
                </div>
            </div>
        </section>
        @*<section class="section section-login-2">
            <div class="bg-section"></div>
            <div class="container"></div>
        </section>*@
    </div>
</main>
