<div id="content" class="content-area" style="width: 800px; margin: 0 auto">
        <section class="section section-info-user">
            <div class="bg-section"></div>
            <div class="container">
                <div class="row row-small main-info">
                    <div class="col col-md-12 col-12 section-detail-data main-manage-data">
                            <h1>Xóa tài khoản CashPlus</h1>
                            <div class="list-news">

                                <p>Vui lòng truy cập ứng dụng của bạn trên Android hoặc iOS để tiếp tục thao tác. <a href="https://play.google.com/store/apps/details?id=com.cashbackplus">Android</a> hoặc <a href="https://apps.apple.com/vn/app/cashplus-hoàn-tiền/id6459993279">IOS</a></p>

                                <p><strong>Các bước thực hiện xóa tài khoản</strong></p>
                                <p><em>Bước 1:</em> Chọn vào biểu tượng <strong>Thông tin tài khoản</strong></p>
                                <p style="margin-bottom: 24px">
                                    <img src="https://cms.cashplus.vn/download/loyalty/1JPG_314408271020241.jpg" alt="Thông tin tài khoản" width="300px" style="margin: 0 auto">
                                </p>

                                <p><em>Bước 2:</em> Chọn vào nút <strong>Xóa Tài Khoản</strong></p>
                                <p style="margin-bottom: 24px">
                                    <img src="https://cms.cashplus.vn/download/loyalty/1JPG_014608271020241.jpg" alt="Xóa tài khoản" width="300px" style="margin: 0 auto">
                                </p>

                                <p><em>Bước 3:</em> Chọn vào nút <strong>Đồng ý</strong></p>
                                <p style="margin-bottom: 24px">
                                    <img src="https://cms.cashplus.vn/download/loyalty/1JPG_174608271020241.jpg" alt="Đồng ý" width="300px" style="margin: 0 auto">
                                </p>


                                <p><em>Lưu ý: </em> Chúng tôi rất lấy làm tiếc khi bạn muốn rời khỏi CashPlus. Các thông tin của bạn sẽ được xóa khỏi hệ thống của chúng tôi. Các tài khoản đã bi xóa sẽ không được mở trở lại.</p>
                                <p><strong>CashPlus cám ơn bạn đã đồng hành trong suốt khoản thời gian qua.</strong></p>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </div>