
@{
    ViewData["Title"] = ViewBag.SeoTitle;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<main id="main" ng-controller="CustomerController" ng-init="init(undefined, undefined)">
    <div id="content" class="content-area">
        <section class="section section-login-1 no-margin">
            <div class="bg-section"></div>
            <div class="container">
                <div class="RecovePass_main">
                    <div class="img-col-res col-item-res">
                        <img src="/images/Frame.png" alt="">
                    </div>
                    <div class="col-item-res main_fields">
                        <div class="left-head">
                            <div class="top-left-head">Quên mật khẩu</div>
                            <div class="bottom-left-head">Nhập email của bạn để nhận liên kết đặt lại mật khẩu</div>
                        </div>
                        <form class="form-forword">
                            <div class="main-form">
                                <div class="field-group">
                                    <div class="input-group">
                                        <input type="text" id="txtEmailRecover" class="form-control" placeholder="Email đăng ký">
                                    </div>
                                </div>
                                <div class="button-form">
                                    <button type="submit" class="btn btn-primary btn-register" ng-click="submitRecover()" ng-disabled="disableBtn.submitRecover == true">Lấy lại mật khẩu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-login-2">
            <div class="bg-section"></div>
            <div class="container"></div>
        </section>
    </div>
</main>

