.header-fixed .app-header {
  width: calc(100% - 240px) !important;
  margin-left: 240px !important;
}
.modal-views-media {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #00000094;
}

  .modal-views-media .attachments-wrapper {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    left: 30px;
    top: 30px;
    background: #fff;
    right: 30px;
    bottom: 30px;
    position: absolute;
  }

.attachments-wrapper .attachments-ui {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: -15px;
  max-height: calc(100vh - 280px);
  overflow: auto;
}

  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    height: 190px;
    position: relative;
    background: #f0f0f1;
  }

    .attachments-wrapper .attachments-ui .attachment .thumb {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 15px #0000001a, inset 0 0 0 1px #0000000f;
    }

.dataTables_wrapper .content-table-data, .attachments-wrapper {
  width: 100%;
}

  .attachments-wrapper .attachments-ui .attachment .thumb img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%,-50%);
    object-position: center;
    object-fit: cover;
  }

.load-more-wrapper {
  text-align: center;
  position: absolute;
  width: calc(100% - 40px);
  background: #fff;
  bottom: 0;
  z-index: 19;
  padding-top: 15px;
  padding-bottom: 15px;
}

  .load-more-wrapper .load-more-count {
    color: #333 !important;
    font-size: 14px;
  }

.load-more.button {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.edit-media-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

  .edit-media-header .media-frame-title {
    flex: 1;
  }

.media-frame-title h1 {
  font-size: 22px;
  line-height: 2.27272727;
  margin: 0;
  padding-left: 20px;
  color: #1d2327;
}

.media-modal-close {
  border: 1px solid #f1f1f1;
  background: #ededed;
  height: 50px;
  width: 50px;
}

  .media-modal-close i {
    font-size: 20px;
  }

.media-frame-router {
  padding: 0;
}

  .media-frame-router .head-tab {
    display: flex;
    border-bottom: 1px solid #dcdcde;
  }

    .media-frame-router .head-tab .item {
      list-style: none;
      position: relative;
      border: 0;
      margin: 0;
      padding: 8px 10px 9px;
      height: 40px;
      line-height: 1.28571428;
      font-size: 14px;
      text-decoration: none;
      background: 0 0;
      cursor: pointer;
      transition: none;
    }

      .media-frame-router .head-tab .item.active {
        background: #fff;
        border: 1px solid #dcdcde;
        border-bottom: none;
        top: 2px;
      }

.attachments-wrapper .hiden {
  display: none;
}

.attachments-wrapper .active {
  display: block;
}

.attachments-wrapper .main-media, .attachments-wrapper .upload-file {
  padding: 0 20px;
}

.drag-drop-area {
  border: 4px dashed #c3c4c7;
  height: auto;
  padding-bottom: 15px;
}

.drag-drop-inside {
  margin: 60px auto 0;
  width: 250px;
}

  .drag-drop-inside p {
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;
  }

  .drag-drop-inside .drag-drop-info {
    font-size: 15px;
    font-weight: 500;
  }

.post-upload-ui#post-upload-info {
  text-align: center;
}

.check-media {
  z-index: 99;
  position: absolute;
  right: 5px;
  top: 5px;
}

  .check-media > input.checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

.chonse-media {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.preview-video-type {
  margin-top: 15px;
}

  .preview-video-type video {
    width: 100%;
    height: 475px;
    object-fit: cover;
  }

.remove-video {
  color: red;
  text-align: right;
  margin: 10px 5px;
  cursor: pointer;
}

  .remove-video .icon-remove-video {
    font-size: 20px;
  }

.image-upload.video-upload {
  border: none !important;
}

.preview-video-type {
  height: 475px;
  background: #292929;
  display: flex;
  align-items: center;
}

.no-background .preview-video-type {
  background: #ffffff;
}

@media only screen and (max-width:2500px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    height: 130px;
  }
}

@media only screen and (max-width:2000px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    height: 135px;
  }
}

@media only screen and (max-width:1920px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(8.333% - 15px);
    height: 110px;
  }
}

@media only screen and (max-width:1600px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(11.11% - 15px);
    height: 115px;
  }
}

@media only screen and (max-width:1366px) {
  .attachments-wrapper .attachments-ui .attachment {
    width: calc(12.5% - 15px);
    height: 130px;
  }
}
