@model IOITWebApp31.Models.EF.Category
@using IOITWebApp31.Models;

@{
    ViewData["Title"] = ViewBag.SeoTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <div id="content" class="content-area">
        <section class="section section-user-data-1">
            <div class="bg-section"></div>
            <div class="container">
                <div class="main-content-section">
                    <div class="avatar">
                        <img src="images/avaataaaa.png" alt="">
                    </div>
                    <div class="info">
                        <div class="name">Nguyễn Thị Nhung</div>
                        <div class="chuc-danh">Chức danh KH và CN</div>
                        <div class="date-active">Ngày tham gia: 02/05/2019</div>
                        <div class="count-data">Số lượng bài viết: 33 bài</div>
                    </div>
                    <div class="status">
                        <div class="btn">Đang hoạt động</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-user-data-2">
            <div class="bg-section"></div>
            <div class="container">
                <div class="main-content-section">
                    <div class="title-user-data">Xem thông tin chi tiết</div>
                    <div class="table-detail">
                        <div class="left-table">
                            <div class="item-table">
                                <label>Họ và tên:</label>
                                <a href="#" class="list-lv">Nguyễn Thị Nhung</a>
                            </div>
                            <div class="item-table">
                                <label>Giới tính:</label>
                                <span class="list-lv">Nữ</span>
                            </div>
                            <div class="item-table">
                                <label>Chức danh KH và CN:</label>
                                <span class="list-lv">Nghiên cứu viên chính (Hạng II)</span>
                            </div>
                            <div class="item-table">
                                <label>Học hàm:</label>
                                <span class="list-lv">Giáo sư</span>
                            </div>
                            <div class="item-table">
                                <label>Lĩnh vực nghiên cứu:</label>
                                <div class="list-lv">
                                    <a href="#">10201. Khoa học máy tính</a>
                                    <a href="#">10202. Tin học</a>
                                    <a href="#">10205. Tin học ứng dụng</a>
                                </div>
                            </div>
                        </div>
                        <div class="right-table">
                            <div class="item-table">
                                <label>Quốc tịch:</label>
                                <span class="list-lv">Việt Nam</span>
                            </div>
                            <div class="item-table">
                                <label>Địa chỉ email:</label>
                                <span class="list-lv">nhungnt@gmail.com</span>
                            </div>
                            <div class="item-table">
                                <label>Học vị:</label>
                                <span class="list-lv">Kỹ sư</span>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</main>