/*
.col-name-category { 
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 612px;
	width: calc(100% - 650px);
	padding-left: 5px;
	height: 100%;
	padding-top: 3px;
	font-weight: 600;
    color: #0073aa;
}

.col-image-category { 
	display: inline-block;
	position: absolute;
 	top: 0px;
	width: 38px;
	right: 650px;
	height: 100%;
	padding-top: 5px;
	padding-left: 3px;
}

.col-image-category > img {
	border: 1px solid #ccc;
	width: 35px;
	height: 35px;
}

.col-parent-category { 
	display: inline-block;
	position: absolute;
	top: 0px;
	width: 200px;
	right: 450px;
	height: 100%;
	padding-top: 3px;
	padding-left: 5px;
}
.col-url-category {
 	display: inline-block;
 	position: absolute;
 	top: 0px;
	width: 300px;
	right: 350px;
	height: 100%;
	padding-top: 3px;
	padding-left: 5px;
	color: #23282c;
}
.col-des-category { 
	display: inline-block;
	position: absolute;
 	top: 0px;
	width: 350px;
	right: 0px;
	height: 100%;
	padding-top: 3px;
	padding-left: 5px;
	color: #23282c;
}

.category-action {
	padding-left: 3px;
}

.category-action .id-item {
	color: #ccc;
    font-weight: 400;
    cursor: pointer;
}

.category-action .add-item,.update-item {
    font-weight: 400;
    cursor: pointer;
}

.category-action .delete-item {
	color: #f00;
    font-weight: 400;
    cursor: pointer;
}

.category-move-btn {
	width: 38px;
 	height: 100%;
  	top: 0px; 
	right: 0px;
 	display: inline-block;
  	float: left;
   	padding: 7px;
    cursor: move;
}*/