@model IEnumerable<IOITWebApp31.Models.Data.CategoryAR>
@using IOITWebApp31.Models;

@if (Model != null)
{

    @foreach (var item in Model)
    {
        <div class="item-cate-data" id="item-cate-data-@item.CategoryId" onclick="LoadDataTqPage(@item.CategoryId, 1)">
            <div class="box">
                <div class="box-image">
                    <a><img src="/uploads/@item.Image" alt=""></a>
                </div>
                <div class="box-text">
                    <div class="title-data" id="title-data-@item.CategoryId" data-name="@item.Name"><a>@item.Name</a></div>
                </div>
            </div>
        </div>
    }
}