.login-form .input-group {
	margin-bottom: 1px;
}

.error {
	color: red !important;
}

.help-block > span {
	color: red;
	padding-left: 40px;
}

.has-error .mb-3 {
	margin-bottom: 5px !important; 
}

.has-error .mb-4 {
	margin-bottom: 5px !important; 
}

.has-error input {
	border: 1px solid #f58b8b;
}

.Connect-gradientBg {
  background-image: linear-gradient(-45deg, #EF6C00 0%, #EF6C00 33%, #9C27B0 100%);
  background-attachment: fixed;
}
.Login-userFormWrap-2731 {
  width: 720px;
  margin: 0 auto;
}
.MuiPaper-rounded {
  color: #ffffff;
  padding: 24px;
  text-align: center;
  background-size: cover;
  background-color: #304B71;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0px 1px 3px 0px rgb(142 142 142 / 20%), 0px 1px 1px 0px rgb(243 243 243 / 14%), 0px 2px 1px -1px rgb(204 204 204 / 12%);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 10px;
}
.Connect-topBar {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.87);
}
.Connect-brand-2776 {
  color: rgb(255 255 255);
  display: flex;
  padding: 5px 10px;
  position: relative;
  font-size: 16px;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  text-decoration: none;
}
.Connect-brand-2776 > img {
    width: 85px;
    margin-right: 10px;
}
.Connect-buttonLink-2796 {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
  font-family: Open Sans,sans-serif;
}
  .Connect-buttonLink-2796 > span > svg {
    margin-right: 10px;
    height: 14px;
    position: relative;
    top: -1px;
  }
.Connect-title-2786 {
  font-size: 34px;
  color: #d1d1d1;
  font-weight: 400;
  font-family: Open Sans,sans-serif;
  margin-bottom: 25px;
}
.loginToIsocal {
  padding: 0 20px;
  max-width: 80%;
  margin:0 auto;
}
.Connect-btnArea-5197 {
  margin: 16px 0;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
}
.button-login-isocal {
  margin: 0 8px;
  width: 50%;
  border-radius: 4px;
}
.button-login-isocal > a {
  display: block;
  color: #fff;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.button-login-isocal > a:hover {
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 10%);
}
.loginToFacebook.button-login-isocal {
  background: linear-gradient( -45deg, #039BE5 0%, #039BE5 33%, #00BCD4 100%);
}
.loginToEmail.button-login-isocal {
  background: linear-gradient( -45deg, #EC407A 0%, #EC407A 33%, #FFA000 100%);
}
.Content-content-180 {
  color: rgba(0, 0, 0, 0.54);
  border: none;
  extend: [object Object];
  margin: 32px 4px 16px;
  padding: 0;
  overflow: visible;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}
.Content-content-180:after {
  top: -15px;
  content: attr(data-content);
  display: inline-block;
  padding: 0 1.25em;
  position: relative;
  font-size: 14px;
  background: #fff;
}
.Connect-formWrap-2777 {
  padding: 0 150px;
  margin-top:30px;
}
.input-group-prepstart > span.input-group-text {
  height: 100%;
  background: #fff;
  border-radius: 0 2px 2px 0;
  border: 1px solid #ccc;
  border-left: none;
  background: #E8F0FE;
  cursor:pointer;
}
#user:focus, #password:focus{
    box-shadow:none;
}
#password{
    border-right:none;
}
.Connect-optArea-174 {
  display: flex;
  padding: 0 4px;
  justify-content: space-between;
}
.Connect-label-148 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.PrivateSwitchBase-root-181 {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.PrivateSwitchBase-input-184 {
  width: 15px;
  height: 15px;
}
.Connect-btnArea-149 {
  margin: 16px 0;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
}
.MuiButton-containedPrimary-9696 {
  color: #fff;
  background-color: #EF6C00;
  padding: 8px 22px;
  font-size: 15px;
  margin: 0 8px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Open Sans,sans-serif;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
}
.MuiButton-containedPrimary-9696 i {
  margin-left: 12px;
}
.MuiButton-containedPrimary-9696:focus {
  border: none;
  outline:none;
}
  .MuiButton-containedPrimary-9696:hover {
    background-color: #b35100;
    box-shadow: 0px 2px 4px -1px rgb(80 80 80 / 20%), 0px 4px 5px 0px rgb(80 80 80 / 14%), 0px 1px 10px 0px rgb(80 80 80 / 12%);
  }
.help-block span {
  font-size: 12px;
  top: -4px;
  position: relative;
  color: #e59f9f;
  padding-left: 0;
}
.app-body .main{
    margin-left:0 !important;
}
