<div class="animated fadeIn cms-main">
  <div class="card cms-content">
    <div class="titleCat">
      <h1 class="cms-heading-inline">Cấu hình chung</h1>
    </div>
    <div class="description-page">
      <blockquote class="{{isNoitify ? 'hidden' : ''}}">
        <p>Cài đặt cấu hình chung cho website, các cấu hình cơ bản, link mạng xã hội, thông tin và cũng là nơi chèn mã code của bên thứ 3. Thiết lập css tuỳ biến tại khu vực này</p>
        <a class="close" href="javascript:void(0)" (click)="closeNoityfy()"><span>×</span></a>
      </blockquote>
    </div>
    <div class="card-body" style="padding-right:10px; padding-left:10px;">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <tabset>
          <tab heading="Cấu hình chung" (click)="changeTab(1)">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="Name">Tên Website<span *ngIf="Item.Name==undefined || Item.Name==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="" [(ngModel)]="Item.Name" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="Url">Đường dẫn<span *ngIf="Item.Url==undefined || Item.Url==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="Url" name="Url" class="form-control" placeholder="" [(ngModel)]="Item.Url" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="Hotline">Hotline</label>
                  <div class="col-md-8">
                    <input type="text" id="Hotline" name="Hotline" class="form-control" placeholder="" [(ngModel)]="Item.Hotline" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 32)" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="TechNiQuePhone">Số Fax</label>
                  <div class="col-md-8">
                    <input type="text" id="TechNiQuePhone" name="TechNiQuePhone" class="form-control" placeholder="" [(ngModel)]="Item.TechNiQuePhone" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 32)" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="OrganizationsUp">Tên cơ quan/Tổ chức liền trên</label>
                  <div class="col-md-8">
                    <input type="text" id="OrganizationsUp" name="OrganizationsUp" class="form-control" placeholder="" [(ngModel)]="Item.OrganizationsUp" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="OrganizationsUp">Đơn vị chủ quản</label>
                  <div class="col-md-8">
                    <input type="text" id="UnitName" name="UnitName" class="form-control" placeholder="" [(ngModel)]="Item.UnitName" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="OrganizationsUp">Địa chỉ</label>
                  <div class="col-md-8">
                    <input type="text" id="Address" name="Address" class="form-control" placeholder="" [(ngModel)]="Item.Address" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(1)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon 1</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.Icon1" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.Icon1 != undefined" src="{{staticDomainMedia}}/{{ Item.Icon1 }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(1)" *ngIf="Item.Icon1 != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="Link1">Link mạng xã hội 1</label>
                    <div class="col-md-12">
                      <input type="text" id="Link1" name="Link1" class="form-control" placeholder="" [(ngModel)]="Item.Link1" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(3)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon 3</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.Icon3" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.Icon3 != undefined" src="{{staticDomainMedia}}/{{ Item.Icon3 }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(3)" *ngIf="Item.Icon3 != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="Link3">Link mạng xã hội 3</label>
                    <div class="col-md-12">
                      <input type="text" id="Link3" name="Link3" class="form-control" placeholder="" [(ngModel)]="Item.Link3" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(5)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon 5</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.Icon5" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.Icon5 != undefined" src="{{staticDomainMedia}}/{{ Item.Icon5 }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(5)" *ngIf="Item.Icon5 != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="Link5">Link mạng xã hội 5</label>
                    <div class="col-md-12">
                      <input type="text" id="Link5" name="Link5" class="form-control" placeholder="" [(ngModel)]="Item.Link5" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(7)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon BCT</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.IconBct" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.IconBct != undefined" src="{{staticDomainMedia}}/{{ Item.IconBct }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(7)" *ngIf="Item.IconBct != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="LinkOther1">Link bộ công thương</label>
                    <div class="col-md-12">
                      <input type="text" id="LinkOther1" name="LinkOther1" class="form-control" placeholder="" [(ngModel)]="Item.LinkOther1" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                  <div class="col-md-10" style=" padding-top: 8px; min-height: 60px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(0)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt logo</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.LogoHeader" hidden />
                    <div style="font-weight: bold; color: green; display: flex; align-items: center;">
                      <img class="image-upload" style="height:60px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.LogoHeader != undefined" src="{{staticDomainMedia}}/{{ Item.LogoHeader }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(0)" *ngIf="Item.LogoHeader != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="Hotmail">Hotmail</label>
                  <div class="col-md-8">
                    <input type="text" id="Hotmail" name="Hotmail" class="form-control" placeholder="" [(ngModel)]="Item.Hotmail" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="GoogleAnalitics">Google Analitics</label>
                  <div class="col-md-8">
                    <input type="text" id="GoogleAnalitics" name="GoogleAnalitics" class="form-control" placeholder="" [(ngModel)]="Item.GoogleAnalitics" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="Organizations">Tên cơ quan/Tổ chức</label>
                  <div class="col-md-8">
                    <input type="text" id="Organizations" name="Organizations" class="form-control" placeholder="" [(ngModel)]="Item.Organizations" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="SystemName">Tên hệ thống</label>
                  <div class="col-md-8">
                    <input type="text" id="SystemName" name="SystemName" class="form-control" placeholder="" [(ngModel)]="Item.SystemName" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="LinkMap">Link map địa chỉ</label>
                  <div class="col-md-8">
                    <input type="text" id="LinkMap" name="LinkMap" class="form-control" placeholder="" [(ngModel)]="Item.LinkMap" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(2)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon 2</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.Icon2" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.Icon2 != undefined" src="{{staticDomainMedia}}/{{ Item.Icon2 }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(2)" *ngIf="Item.Icon2 != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="Link2">Link mạng xã hội 2</label>
                    <div class="col-md-12">
                      <input type="text" id="Link2" name="Link2" class="form-control" placeholder="" [(ngModel)]="Item.Link2" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(4)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon 4</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.Icon4" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.Icon4 != undefined" src="{{staticDomainMedia}}/{{ Item.Icon4 }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(4)" *ngIf="Item.Icon4 != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="Link4">Link mạng xã hội 4</label>
                    <div class="col-md-12">
                      <input type="text" id="Link4" name="Link4" class="form-control" placeholder="" [(ngModel)]="Item.Link4" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4" style=" padding-top: 8px; min-height: 40px;">
                    <a href="javascript:void(0);" id="set-post-thumbnail" class="thickbox" (click)="OpenMediaModal(6)" style="color: #2271b1; text-decoration: underline; font-size: 14px; font-weight: 400;">Đặt Icon 6</a>
                    <input type="text" name="image" value="" [(ngModel)]="Item.Icon6" hidden />
                    <div style="font-weight:bold;color:green;display:flex;align-items:center;">
                      <img class="image-upload" style="height:40px;width:auto;object-fit:cover;padding:5px;background:#fff;" *ngIf="Item.Icon6 != undefined" src="{{staticDomainMedia}}/{{ Item.Icon6 }}" />
                      <div style="color: red; font-size: 15px; cursor: pointer;margin-left:12px;" (click)="RemoveImage(6)" *ngIf="Item.Icon6 != undefined">
                        <i class="fa-duotone fa-trash"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8" style="padding:0px;">
                    <label class="col-md-12 col-form-label" for="Link6">Link mạng xã hội 6</label>
                    <div class="col-md-12">
                      <input type="text" id="Link6" name="Link6" class="form-control" placeholder="" [(ngModel)]="Item.Link6" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="form-group row" style="margin-bottom:20px;">
                  <label class="col-md-2 col-form-label" for="MetaTitle">Meta Title</label>
                  <div class="col-md-10">
                    <textarea id="MetaTitle" name="MetaTitle" maxlength="100" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.MetaTitle" #newMetaTitle></textarea>
                    <i>{{newMetaTitle.value.length}}/100</i>
                  </div>
                </div>
                <div class="form-group row" style="margin-bottom:20px;">
                  <label class="col-md-2 col-form-label" for="MetaKeyword">Meta Keyword</label>
                  <div class="col-md-10">
                    <textarea id="MetaKeyword" name="MetaKeyword" maxlength="100" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.MetaKeyword" #newMetaKeyword></textarea>
                    <i>{{newMetaKeyword.value.length}}/100</i>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12" style="display: inline-block;">
                <div class="form-group row" style="margin-bottom:20px;">
                  <label class="col-md-2 col-form-label" for="MetaDescription">Meta Description</label>
                  <div class="col col-md-10">
                    <textarea id="MetaDescription" name="MetaDescription" maxlength="300" cols="50" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.MetaDescription" #newMetaDescription></textarea>
                    <i>{{newMetaDescription.value.length}}/300</i>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Cấu hình Email" (click)="changeTab(2)">
            <div class="col-sm-12 col-md-12" style="padding-bottom:15px;">
              <strong>Cấu hình mail gửi</strong>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="">Host gửi<span *ngIf="updateItem.EmailHost==undefined || updateItem.EmailHost==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="EmailHost" name="EmailHost" class="form-control" [(ngModel)]="updateItem.EmailHost" style="width:80%" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="">Tên người gửi mail<span *ngIf="updateItem.EmailSender==undefined || updateItem.EmailSender==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="EmailSender" name="EmailSender" class="form-control" [(ngModel)]="updateItem.EmailSender" style="width:80%" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="">Port gửi<span *ngIf="updateItem.EmailPort==undefined || updateItem.EmailPort <= 0" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="EmailPort" name="EmailPort" class="form-control" [(ngModel)]="updateItem.EmailPort" style="width:100%" autocomplete="off" />
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="">Email gửi<span *ngIf="updateItem.EmailUserName==undefined || updateItem.EmailUserName==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="EmailUserName" name="EmailUserName" class="form-control" [(ngModel)]="updateItem.EmailUserName" style="width:100%" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="">Password Hash gửi<span *ngIf="updateItem.EmailPasswordHash==undefined || updateItem.EmailPasswordHash==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="EmailPasswordHash" name="EmailPasswordHash" class="form-control" [(ngModel)]="updateItem.EmailPasswordHash" style="width:100%" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row siderbar-product">
                  <label class="col-md-4 col-form-label"></label>
                  <div class="col-md-8 squaredcheck">
                    <input type="checkbox" value="None" class="checkbox1" id="EmailEnableSSL" name="EmailEnableSSL" [value]="true" [(ngModel)]="updateItem.EmailEnableSsl" autocomplete="off">
                    <label for="EmailEnableSSL"><span>Enable SSL</span></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12" style="padding-bottom:15px;">
              <strong>Cấu hình mail nhận</strong>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="">Email nhận<span *ngIf="updateItem.EmailReceive==undefined || updateItem.EmailReceive==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="EmailReceive" name="EmailReceive" class="form-control" [(ngModel)]="updateItem.EmailReceive" style="width:100%" autocomplete="off" />
                  </div>
                </div>
              </div>

              <!--<div class="col-sm-12 col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="EmailLogo">Logo Email<span *ngIf="updateItem.EmailLogo==undefined || updateItem.EmailLogo==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-10">
                    <input type="text" id="EmailLogo" name="EmailLogo" class="form-control" [(ngModel)]="updateItem.EmailLogo" style="width:100%" autocomplete="off" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="EmailColorHeader">EmailColorHeader<span *ngIf="updateItem.EmailColorHeader==undefined || updateItem.EmailColorHeader==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-10">
                    <textarea id="EmailColorHeader" name="EmailColorHeader" class="form-control" [(ngModel)]="updateItem.EmailColorHeader" rows="5">
                    </textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="EmailColorBody">EmailColorBody<span *ngIf="updateItem.EmailColorHeader==undefined || updateItem.EmailColorBody==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-10">
                    <textarea id="EmailColorBody" name="EmailColorBody" class="form-control" [(ngModel)]="updateItem.EmailColorBody" rows="5">
                    </textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="EmailColorFooter">EmailColorFooter<span *ngIf="updateItem.EmailColorFooter==undefined || updateItem.EmailColorFooter==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-10">
                    <textarea id="EmailColorFooter" name="EmailColorFooter" class="form-control" [(ngModel)]="updateItem.EmailColorFooter" rows="5">
                    </textarea>
                  </div>
                </div>
              </div>-->

            </div>
          </tab>
          <!--<tab heading="Cấu hình Thanh toán">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="form-group row siderbar-product">
                  <label class="col-md-2 col-form-label"></label>
                  <div class="col-md-6 squaredcheck">
                    <input type="checkbox" value="None" class="checkbox1" id="IsOnePay" name="IsOnePay" [value]="true" [(ngModel)]="updateItem.IsOnePay" autocomplete="off">
                    <label for="IsOnePay"><span>Thanh toán OnePay</span></label>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6" *ngIf="updateItem.IsOnePay==true">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="">Merchant ID<span *ngIf="updateItem.OpMerchant==undefined || updateItem.OpMerchant==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-9">
                    <input type="text" id="OpMerchant" name="OpMerchant" class="form-control" [(ngModel)]="updateItem.OpMerchant" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="">Access code<span *ngIf="updateItem.OpAccessCode==undefined || updateItem.OpAccessCode==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-9">
                    <input type="text" id="OpAccessCode" name="OpAccessCode" class="form-control" [(ngModel)]="updateItem.OpAccessCode" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="">Hash Key<span *ngIf="updateItem.OpKey==undefined || updateItem.OpKey==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-9">
                    <input type="text" id="OpKey" name="OpKey" class="form-control" [(ngModel)]="updateItem.OpKey" autocomplete="off" />
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6" *ngIf="updateItem.IsOnePay==true">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="">User<span *ngIf="updateItem.OpUser==undefined || updateItem.OpUser==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-9">
                    <input type="text" id="OpUser" name="OpUser" class="form-control" [(ngModel)]="updateItem.OpUser" style="width:100%" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="">Password<span *ngIf="updateItem.OpPassword==undefined || updateItem.OpPassword==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-9">
                    <input type="text" id="OpPassword" name="OpPassword" class="form-control" [(ngModel)]="updateItem.OpPassword" style="width:100%" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="">Exchang Rate<span *ngIf="updateItem.ExchangRate==undefined || updateItem.ExchangRate==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-9">
                    <input type="text" id="ExchangRate" name="ExchangRate" class="form-control" [(ngModel)]="updateItem.ExchangRate" style="width:100%" autocomplete="off" />
                  </div>
                </div>
              </div>
            </div>
          </tab>-->
          <!--<tab heading="Chèn Mã Scripts">
            <div class="row">
              <div class="col col-12 HEADER_SCRIPTS" style="margin-bottom:20px;">
                <div class="form-group">
                  <label class="scriptAreaLabel" for="exampleFormControlTextarea1">HEADER SCRIPTS</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="updateItem.HeaderScript"></textarea>
                </div>
              </div>
              <div class="col col-12 BODY_SCRIPT_TOP" style="margin-bottom:20px;">
                <div class="form-group">
                  <label class="scriptAreaLabel" for="exampleFormControlTextarea3">BODY SCRIPTS TOP</label>
                  <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" [(ngModel)]="updateItem.BodyScript"></textarea>
                </div>
              </div>
              <div class="col col-12 FOOTER_SCRIPTS" style="margin-bottom:20px;">
                <div class="form-group">
                  <label class="scriptAreaLabel" for="exampleFormControlTextarea2">FOOTER SCRIPTS</label>
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="7" [(ngModel)]="updateItem.FooterScript"></textarea>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Tuỳ chỉnh CSS">
            <div class="row">
              <div class="col col-12 HEADER_SCRIPTS">
                <div class="form-group">
                  <label class="scriptAreaLabel" for="exampleFormControlTextarea4">Customize CSS</label>
                  <textarea class="form-control" id="exampleFormControlTextarea4" rows="7" [(ngModel)]="updateItem.CustomCss"></textarea>
                </div>
              </div>
            </div>
          </tab>-->
        </tabset>
      </div>
    </div>
    <div class="modal-footer" style="border-top:none;">
      <button type="button" class="btn btn-primary" (click)="Update()">Cập nhật</button>
    </div>
  </div>
</div>

<!--Modal Views Media Header-->
<div [config]="{backdrop: 'static',  keyboard: false}" bsModal #OpenMediaFile="bs-modal" class="modal fade modal-views-media" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="attachments-wrapper">
    <div class="edit-media-header">
      <div class="media-frame-title"><h1>Thư viện Media</h1></div>
      <button type="button" class="media-modal-close" (click)="CloseMediaModal()"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div class="media-frame-router">
      <ul class="head-tab">
        <li class="item {{isActiveMedia ? 'active' : ''}}" (click)="tabHandleMedia()">Thư viện</li>
        <li class="item {{isActiveUpload ? 'active' : ''}}" (click)="tabHandleMediaUpload()">Tải lên</li>
      </ul>
    </div>
    <div class="upload-file {{isActiveUpload ? 'active' : 'hiden'}}">
      <div class="wapper-modal-upload">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card" style="border: none; padding: 1.5rem; margin-bottom: unset;">
              <div class="card-body body-form-add-new">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group">
                    <div class="drag-drop-area">
                      <div class="drag-drop-inside">
                        <p class="drag-drop-info">Tải lên từ máy tính</p>
                        <p class="drag-drop-buttons">
                          <label for="upload-photo" class="label-upload">Tải lên <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cloud-upload-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-cloud-upload-alt fa-w-20"><path fill="currentColor" d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" class=""></path></svg></label>
                          <input #file type="file" (change)="upload3(file.files, 1)" id="upload-photo" />
                        </p>
                      </div>
                      <div class="post-upload-ui" id="post-upload-info">
                        <p class="max-upload-size">
                          Kích thước tập tin tải lên tối đa: 512 MB
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-media {{isActiveMedia ? 'active' : 'hiden'}}">
      <div class="attachments-ui" #scrollMe>
        <div class="attachment save-ready" *ngFor="let item of listItemMedia; let i = index">
          <div class="thumb" (click)="SeclectMedia(item)">
            <img src="{{staticDomainMedia}}{{ item.url }}/{{ item.name }}" alt="{{item.name}}" *ngIf="item.type == 1" />
            <img src="{{staticDomain}}images/document.png" alt="media upload" *ngIf="item.type == 4" />
            <img src="{{staticDomain}}images/audio.png" alt="media upload" *ngIf="item.type == 2" />
            <img src="{{staticDomain}}images/video.png" alt="media upload" *ngIf="item.type == 3" />
            <!--<div class="check-media">
              <input type="radio" value="{{staticDomainMedia}}{{ item.url }}/{{ item.name }}" class="checkbox" name="media-parimary">
            </div>-->
          </div>
        </div>
      </div>
      <div class="load-more-wrapper">
        <span class="spinner"></span>
        <p class="load-more-count">Đang hiển thị {{countMedia}} của {{countAllMedia}} file media</p>
        <button type="button" class="button load-more button-primary {{isDelay ? 'hiden' : ''}}" (click)="loadMore()">Tải thêm</button>
        <!--<button type="button" class="button chonse-media button-primary {{isDelay ? 'hiden' : ''}}" (click)="ChonseImage()">Chọn ảnh</button>-->
        <div class="{{isDelay ? 'active' : 'hiden'}}">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="60px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <g>
              <circle cx="73.801" cy="68.263" fill="#e15b64" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="0s"></animateTransform>
              </circle>
              <circle cx="68.263" cy="73.801" fill="#f47e60" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.062s"></animateTransform>
              </circle>
              <circle cx="61.481" cy="77.716" fill="#f8b26a" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.125s"></animateTransform>
              </circle>
              <circle cx="53.916" cy="79.743" fill="#abbd81" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.187s"></animateTransform>
              </circle>
              <circle cx="46.084" cy="79.743" fill="#849b87" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.25s"></animateTransform>
              </circle>
              <circle cx="38.519" cy="77.716" fill="#6492ac" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.312s"></animateTransform>
              </circle>
              <circle cx="31.737" cy="73.801" fill="#637cb5" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.375s"></animateTransform>
              </circle>
              <circle cx="26.199" cy="68.263" fill="#6a63b6" r="3">
                <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;360 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s" begin="-0.437s"></animateTransform>
              </circle>
              <animateTransform attributeName="transform" type="rotate" calcMode="spline" values="0 50 50;0 50 50" times="0;1" keySplines="0.5 0 0.5 1" repeatCount="indefinite" dur="1.4925373134328357s"></animateTransform>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
