<section class="section sec-9">
    <div class="container mail_send_ft">
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6 info_lable_email">
                <div class="image_mail_left">
                    <img src="/images/mail_send.png" alt="">
                </div>
                <div class="docs_mail_send">
                    <p class="main_title_mail_lab">Đăng ký nhận bản tin</p>
                    <p class="excrept_mail_lab">Đừng bỏ lỡ sản phẩm và chương trình siêu hấp dẫn</p>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6 form_send_mail">
                <div class="input-group">
                    <input type="text" class="form-control" id="EmailFooter" name="EmailFooter" value="" placeholder="Nhập email" autocomplete="off" spellcheck="false">
                    <span class="input-group-btn">
                        <button class="btn btn-default custom_btn_mail_send" type="button" onclick="ReceiveNews()">Đăng ký</button>
                    </span>
                    <span class="error-receive-news" id="error-receive-news"></span>
                </div>
            </div>
        </div>
    </div>
</section>